[2020-02-19 07:35] thibaudcolas opened #5 "Allow to pass custom context into overridden tags"
In GitLab by @m1kola on Dec 11, 2017, 14:54

It can be useful in cases when we render Wagtail's `include_block` tag in a loop, for example

[2020-02-19 07:35] thibaudcolas opened #6 "Allow linking to other patterns"
In GitLab by @tm-kn on Dec 12, 2017, 16:56

It may be useful for creating prototypes to be able to click from one pattern to another instead of having dead links.

[2020-02-19 07:35] thibaudcolas opened #7 "Media directory for sample images available only on mikalab"
In GitLab by @tm-kn on Dec 12, 2017, 17:27

We may want to attach local images that are specific to the project that are only available in the pattern library as part of the sample data.

[2020-02-19 07:35] thibaudcolas opened #8 "Impossible to override context in for a child template"
In GitLab by @m1kola on Dec 14, 2017, 11:38

If you have a `some_page.html`&`some_page.yaml` and `include_me.html`&`include_me.html` and `some_page.html` includes `include_me.html`.

`some_page.yaml` with something like:

[code]

and `include_me.yaml` with something like:

[code]

`Title from include` will appear on both patterns. It's impossible to override single key in `some_page.html`

cc @bcd

[2020-02-19 07:35] thibaudcolas commented on #8
In GitLab by @m1kola on Dec 14, 2017, 11:42

Hm. Actually, probably my description is incorrect... I'll double check later

[2020-02-19 07:35] thibaudcolas opened #9 "Extra context in include tags is overridden by stub data"
In GitLab by @bcdickinson on Dec 18, 2017, 11:08

As of 0.1.3, extra context passed to include tags is overridden by stub data from YAML files. The desired behaviour is for context from outer scopes to take priority over inner scopes, so this is wrong. Example of incorrect behaviour below:

myparenttemplate.html:
[code]

mytemplate.html:
[code]

mytemplate.yaml:
[code]

Rendered output of myparent

[2020-02-19 07:35] thibaudcolas commented on #9
In GitLab by @m1kola on Dec 19, 2017, 16:08

Fixed in #4

[2020-02-19 07:35] thibaudcolas commented on #9
In GitLab by @m1kola on Dec 19, 2017, 16:08

closed

[2020-02-19 07:35] thibaudcolas commented on #9
In GitLab by @m1kola on Dec 19, 2017, 16:08

closed

[2020-02-19 07:36] #9 closed

[2020-02-19 07:36] thibaudcolas opened #10 "No way to specify objects that have attributes and support iteration"
In GitLab by @bcdickinson on Dec 19, 2017, 22:15

Motivating example from: search results. `search_results` value is both iterated and accessed with dot notation:

[code]

[code]

The YAML format doesn't support specifying values that behave this way. A possible suggestion would be to allow numeric keys in the YAML e.g.

[code]

[2020-02-19 07:36] thibaudcolas opened #11 "Desirable Patternlab features"
In GitLab by @tomdyson on Jan 9, 2018, 17:00

From Nick Lee's email:

## Features in Patternlab
* [ ]  #6, Easy linking from patterns to other patterns (pattern lab uses {{ link.pattern-name }})
* [ ]  #91 Pattern status (In progress, In review, Signed off etc), see http://demo.patternlab.io/, patterns in the dropdown “Templates” and “Pages” have a coloured dot alongside to show the current state

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @m1kola on Jan 9, 2018, 17:23

We have a separate issue for this: #2

It's already possible. The pattern library doesn't have any front-end tools and it's something that must be implemented using a FE bundler (rollup/webpack/whatever). The bundler should collect css/js/images from pattern dirs and put result in a directory where Django can collect the resulting files.

I'm not sure, b

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @m1kola on Jan 9, 2018, 17:24

marked the task **Housing scss, json, js and twig/html templates in the same folder - allowing editors to quickly pull components from one project to another** as completed

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @m1kola on Jan 9, 2018, 17:29

Good to have this list of desired features. Thanks Nick!

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @tom on Jan 9, 2018, 18:54

marked the task **~~Easy linking from patterns to other patterns (pattern lab uses {{ link.pattern-name }})~~ See issue #2** as incomplete

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @chris-lawton on Aug 3, 2018, 16:54

After having spent some time using this on CCA, a couple of features i'd like to see are:

- Show the pattern name rather than the file path (see image below)
- Perhaps just link straight to the pattern if there's only one, rather than having to click the category name and then the pattern (image below also works well as an example)
- List patterns

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @m1kola on Aug 3, 2018, 17:47

Chris, thanks for the feedback. All sounds good. The only one thing I would like to comment on is:

I think, this should be a project thing. I don't want the pattern library to dictate projects which FE tools to use to build project. I want people to be able use it with webpack or rollup or with pure CSS and JS.

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @nmorduch on Dec 4, 2018, 18:03

I also have some thoughts (many thoughts). Note that I love the pattern library very very much, and though I would love to change some of these things, having it at all is such an amazing improvement over not having it, and there are many things about it that I find very very clever and helpful.

## A set of improvements related to pattern library chro

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @SimonDEvans on Jan 28, 2019, 17:21

marked the task **Live page reload when assets change** as completed

[2020-02-19 07:36] thibaudcolas commented on #11
In GitLab by @SimonDEvans on Jan 28, 2019, 17:22

marked the task **Browser sync allowing editors to have tablet, phone and desktop browsers all controlled from the same device** as completed

[2020-02-19 07:36] thibaudcolas opened #12 "HTML snippets in stub data should be marked safe"
In GitLab by @bcdickinson on Jan 10, 2018, 14:07

At present, if HTML is provided in the context (this isn't a problem for the return value of overridden tags) it's necessary to run it through the `safe` template filter to display it correctly. Strings from YAML files should be marked safe by the pattern library to avoid introducing security flaws into templates.

[2020-02-19 07:36] thibaudcolas commented on #12
In GitLab by @bcdickinson on Jan 11, 2018, 13:54

closed

[2020-02-19 07:36] thibaudcolas commented on #12
In GitLab by @bcdickinson on Jan 11, 2018, 13:55

MR was rebased, so this didn't get automatically closed.

[2020-02-19 07:36] #12 closed

[2020-02-19 07:36] thibaudcolas opened #13 "Ability to auto-generate data based on model spec"
In GitLab by @todd-dembrey on Jan 15, 2018, 12:14

Instead of specifying the data within a yaml file, have the ability to auto spec the data based on the model field definitions similar to how factory boy works.

A constant seed could be used as required to prevent rapidly changing text between refreshes. But the ability to generate long/short content for testing and visual validation would be use

[2020-02-19 07:37] thibaudcolas commented on #13
In GitLab by @bcdickinson on Jan 24, 2018, 16:01

I'm not sure about this, I think it's not really a pattern library's job to know anything about your database schema. I could definitely get behind some YAML tags for lorem ipsum and some of the common faker providers, though.

[2020-02-19 07:37] thibaudcolas opened #14 "Provide the ability to specify template loaders in a plugin manner"
In GitLab by @todd-dembrey on Jan 15, 2018, 12:21

This would allow you to swap out to different render types (jinja2) or to provide standard wagtail tags as part of the core repo.

[code]

[2020-02-19 07:37] thibaudcolas opened #15 "AJAX responses - Maybe easy conventional way to add custom views fo the pattern library?"
In GitLab by @tm-kn on Jan 17, 2018, 11:59

Hi, sometimes JS components will require AJAX responses. I think we should be able to add custom views that live under pattern library URL in a conventional way so we can return any JSON etc. we want.

[2020-02-19 07:37] thibaudcolas commented on #15
In GitLab by @bcdickinson on Jan 23, 2018, 09:20

Some discussion of this has taken place in the #mikalab Slack channel: https://torchbox.slack.com/archives/C8DH8HLMS/p1516697691000503

I would favour client-side mocking of AJAX response over the creation of actual Django views, as it would allow better separation of FE and BE work, allowing a FE developer to completely specify the interface a com

[2020-02-19 07:37] thibaudcolas opened #16 "Falsey values for raw output from overridden tags result in the original tag being called"
In GitLab by @bcdickinson on Jan 26, 2018, 15:51

patterns/organisms/streamfield/story_block.yaml:
[code]

The above gets us the following warning in the logs:
[code]

... and the tag errors out because the fake context doesn't provide what it expects.

[2020-02-19 07:37] thibaudcolas commented on #16
In GitLab by @bcdickinson on Feb 5, 2018, 09:45

closed via commit 5accf91d59af0bf1c3a9c505d0ea7b993a1a47d8

[2020-02-19 07:37] thibaudcolas commented on #16
In GitLab by @bcdickinson on Feb 5, 2018, 09:45

closed via merge request !8

[2020-02-19 07:37] #16 closed

[2020-02-19 07:37] thibaudcolas opened #17 "Export static version of the pattern library hostable as a static site"
In GitLab by @m1kola on Aug 1, 2018, 14:56

Sometimes it's useful to be able to refer to the previous version of pattern library while working on patterns with the client or colleagues. So would be great to be able to generate static version of pattern library.

[2020-02-19 07:37] thibaudcolas opened #18 "Add a command to checks whether each template renders correctly"
In GitLab by @tm-kn on Aug 15, 2018, 09:56

It would be useful to have a command to easily run a check on CI if each template renders without an error.

[2020-02-19 07:37] thibaudcolas opened #19 "Add hints into logs"
In GitLab by @m1kola on Oct 12, 2018, 16:00

Currently are writing into log if the pattern library can't find stub data for a template tag. See [this](https://github.com/torchbox/django-pattern-library/blob/85e28899376d47e8a2151ef378458661dc53fe7f/pattern_library/monkey_utils.py#L79-82):

[code]

Instead of this, we can write a hint like:

[code]

[2020-02-19 07:37] thibaudcolas commented on #19
In GitLab by @bcdickinson on Jan 28, 2019, 17:21

assigned to @bcdickinson

[2020-02-19 07:37] thibaudcolas commented on #19
In GitLab by @bcdickinson on Nov 11, 2019, 10:58

unassigned @bcdickinson

[2020-02-19 07:37] thibaudcolas opened #20 "TemplateDoesNotExist error when structure in /templates/patterns incomplete"
In GitLab by @alxbridge on Oct 22, 2018, 17:41

While testing a fresh setup, I created a single directory _pages_ containing a single test template in _templates/patterns_. This caused a `TemplateDoesNotExist` error when going to _/pattern_library_ in the browser.

The issue appears to be in _pattern_library/views.py_, `IndexView.get`, which isn't properly iterating over the directories in the exp

[2020-02-19 07:37] thibaudcolas commented on #20
In GitLab by @m1kola on Oct 23, 2018, 08:09

Yeah, it looks like it expects your application to have at least one template in the `atoms` directory...

[2020-02-19 07:37] thibaudcolas commented on #20
In GitLab by @alxbridge on Oct 24, 2018, 10:29

closed via commit aaaaa8f966d79508ac5dd4587084cf377c7c4d84

[2020-02-19 07:37] thibaudcolas commented on #20
In GitLab by @alxbridge on Oct 24, 2018, 10:29

closed via merge request !14

[2020-02-19 07:37] #20 closed

[2020-02-19 07:37] thibaudcolas opened #21 "Document required directory structure"
In GitLab by @bcdickinson on Oct 23, 2018, 09:28

Mikalab is very fussy about how the pattern templates of laid out in the file system. From CCA:

[code]

Each subdirectory contains name-matched pairs of `<blah>.html` and `<blah>.yaml` files.

[2020-02-19 07:38] thibaudcolas commented on #21
In GitLab by @m1kola on Oct 23, 2018, 09:30

Thanks. For whoever will be working on this: please, remove [this todo](https://git.torchbox.com/tech/django-pattern-library/blob/85e28899376d47e8a2151ef378458661dc53fe7f/docs/README.md#L322) from the docs.

[2020-02-19 07:38] thibaudcolas commented on #21
In GitLab by @alxbridge on Oct 23, 2018, 11:56

created branch [`18-document-required-directory-structure`](https://git.torchbox.com/tech/django-pattern-library/compare/master...18-document-required-directory-structure)

[2020-02-19 07:38] thibaudcolas commented on #21
In GitLab by @alxbridge on Oct 24, 2018, 10:29

closed via commit 65ec78b520dde8998e78d003583628028996b642

[2020-02-19 07:38] thibaudcolas commented on #21
In GitLab by @alxbridge on Oct 24, 2018, 10:29

closed via merge request !15

[2020-02-19 07:38] #21 closed

[2020-02-19 07:38] thibaudcolas opened #22 "Rename this project to Mikalab"
In GitLab by @bcdickinson on Oct 23, 2018, 10:53

There's a fair bit of naming inconsistency in here: `django-pattern-library`/`pattern_library`/"Mikalab"

I suggest we rename everything to be Mikalab/`mikalab` for the following reasons:

- It's how everyone refers to it already
- It makes it easy to distinguish between your project's pattern library and Mikalab itself in conversation and document

[2020-02-19 07:38] thibaudcolas commented on #22
In GitLab by @m1kola on Oct 23, 2018, 10:57

[Mikalab is a drug](https://www.medindia.net/drug-price/amikacin/mikalab.htm) to treat urinary tract infection :(

[2020-02-19 07:38] thibaudcolas commented on #22
In GitLab by @bcdickinson on Oct 23, 2018, 10:58

Damnit!

[2020-02-19 07:38] thibaudcolas commented on #22
In GitLab by @bcdickinson on Oct 23, 2018, 11:55

I'd forgotten that it's also a rubbish website already: http://mikalab.com/

[2020-02-19 07:38] thibaudcolas commented on #22
In GitLab by @bcdickinson on Jan 29, 2019, 11:19

closed

[2020-02-19 07:38] #22 closed

[2020-02-19 07:38] thibaudcolas opened #23 "Stop iframe hint interfering with preview"
In GitLab by @beth.menzies on Nov 8, 2018, 11:26

`.heading--iframe-hint` element needs `pointer-events: none` so it doesn't interfere with hovers / interactions / inspector

[2020-02-19 07:38] thibaudcolas commented on #23
In GitLab by @SimonDEvans on Jan 29, 2019, 07:57

@chris-lawton can we close this?

[2020-02-19 07:38] thibaudcolas commented on #23
In GitLab by @chris-lawton on Jan 29, 2019, 09:01

Yup - https://git.torchbox.com/tech/django-pattern-library/merge_requests/17

[2020-02-19 07:38] thibaudcolas commented on #23
In GitLab by @chris-lawton on Jan 29, 2019, 09:01

closed

[2020-02-19 07:38] #23 closed

[2020-02-19 07:38] thibaudcolas opened #24 "Hackday goals 02/02/19"
In GitLab by @SimonDEvans on Jan 29, 2019, 07:55

**FE:**
- [x] Fix UI a11y issues
- [x] Add pattern search
- [x] Open patterns outside UI
- [x] Add tabbed source listings
- [x] Persist menu state
- [x] NPM audit
- [x] Fix sidebar height
- [x] Hide menu if coming from a mobile device
- [x] Split JS
- [x] Add active state to sidebar items

**BE:**
- [ ] Alphabetise pattern list (see !30)
- [ ] Add

[2020-02-19 07:38] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 09:47

marked the task **NPM audit** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 11:27

marked the task **Fix UI a11y issues** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 12:15

marked the task **Open patterns outside UI** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 12:22

marked the task **Add tabbed source listings** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 12:44

marked the task **Fix sidebar height** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @bcdickinson on Feb 2, 2019, 12:54

marked the task **Add Django 2.0 support (see #22 )** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @chris-lawton on Feb 2, 2019, 15:40

marked the task **Persist menu state** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 15:51

marked the task **Add pattern search** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 16:19

marked the task **Split JS** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 16:26

marked the task **Add active state to sidebar items** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 16:26

marked the task **Add active state to sidebar items** as incomplete

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @SimonDEvans on Feb 2, 2019, 16:40

marked the task **Add active state to sidebar items** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @bcdickinson on Feb 2, 2019, 16:41

marked the task **Add pretty pattern naming (see !26 )** as completed

[2020-02-19 07:39] thibaudcolas commented on #24
In GitLab by @helenb on Nov 30, 2019, 12:11

closed

[2020-02-19 07:39] #24 closed

[2020-02-19 07:39] thibaudcolas opened #25 "Django >= 2.0 is not supported"
In GitLab by @bcdickinson on Jan 29, 2019, 11:21

We need to support `Django>=1.11`: https://www.djangoproject.com/download/#supported-versions

Python 3 only.

We should use tox to test across Django versions.

From the tests:

[code]

[2020-02-19 07:39] thibaudcolas commented on #25
In GitLab by @bcdickinson on Feb 2, 2019, 12:11

This turned out just to be a problem with imports in the tests. Resolved by the `tox` branch, which is merged now.

[2020-02-19 07:39] thibaudcolas commented on #25
In GitLab by @bcdickinson on Feb 2, 2019, 12:11

closed

[2020-02-19 07:39] #25 closed

[2020-02-19 07:39] thibaudcolas opened #26 "Rendering fails when a pattern has an UTF-8 character in a config"
In GitLab by @m1kola on Mar 19, 2019, 15:12

With `django-pattern-library==0.2.0` rendering of patterns that contain UTF-8 chars fails with the following traceback. Most likely it happens because we do not specify encoding when read a config into a string [here](https://git.torchbox.com/tech/django-pattern-library/blob/465cb3a668b9e7b007657f9f6201236ff33239ab/pattern_library/utils.py#L95).

[code]

[2020-02-19 07:40] thibaudcolas commented on #26
In GitLab by @m1kola on Mar 19, 2019, 15:23

mentioned in commit a8734a2cf6130c36c2c09d82af8d8a3ff2bd1204

[2020-02-19 07:40] thibaudcolas commented on #26
In GitLab by @m1kola on Mar 19, 2019, 16:25

mentioned in commit 3ab4864146acd76ec296bee4a823c91da49ccd3c

[2020-02-19 07:40] thibaudcolas commented on #26
In GitLab by @m1kola on Mar 19, 2019, 16:37

closed via commit 3ab4864146acd76ec296bee4a823c91da49ccd3c

[2020-02-19 07:40] thibaudcolas commented on #26
In GitLab by @m1kola on Mar 19, 2019, 16:37

closed via merge request !37

[2020-02-19 07:40] #26 closed

[2020-02-19 07:40] thibaudcolas opened #27 "Add and maintain changelog for the project"
In GitLab by @m1kola on Mar 20, 2019, 11:24

[2020-02-19 07:40] thibaudcolas commented on #27
In GitLab by @helenb on Nov 30, 2019, 12:12

closed

[2020-02-19 07:40] #27 closed

[2020-02-19 07:40] thibaudcolas opened #28 "Hackday goals 30/11/2019"
In GitLab by @helenb on Oct 31, 2019, 08:22

Overall aim: open source the project.

**FE:**
- [x] Check tooling commands
- [x] Update developer documentation if necessary
- [x] Fix accessibility errors reported by axe
- [x] IE11 JS support
- [x] Fix case sensitivity in pattern search

**BE:**
- [x] Check through open issues and see if any of them can be closed
- [ ] Code audit #88
- [x] Check MR #

[2020-02-19 07:40] thibaudcolas commented on #28
In GitLab by @helenb on Nov 30, 2019, 11:27

marked the task **Check MR !16 and see if this is still needed or if it should be closed** as completed

[2020-02-19 07:40] thibaudcolas commented on #28
In GitLab by @helenb on Nov 30, 2019, 12:10

marked the task **Set up Docker and update developer documentation** as completed

[2020-02-19 07:40] thibaudcolas commented on #28
In GitLab by @helenb on Nov 30, 2019, 12:23

marked the task **Check through open issues and see if any of them can be closed** as completed

[2020-02-19 07:40] thibaudcolas commented on #28
In GitLab by @helenb on Nov 30, 2019, 12:23

marked the task **Check tooling commands** as completed

[2020-02-19 07:40] thibaudcolas commented on #28
In GitLab by @helenb on Nov 30, 2019, 12:23

marked the task **Update developer documentation if necessary** as completed

[2020-02-19 07:40] thibaudcolas commented on #28
In GitLab by @helenb on Nov 30, 2019, 15:48

marked the task **Fix accessibility errors reported by axe** as completed

[2020-02-19 07:40] thibaudcolas commented on #28
In GitLab by @helenb on Nov 30, 2019, 15:49

marked the task **IE11 JS support** as completed

[2020-02-19 07:40] thibaudcolas commented on #28
In GitLab by @helenb on Nov 30, 2019, 15:49

marked the task **Fix case sensitivity in pattern search** as completed

[2020-02-19 07:40] thibaudcolas opened #29 "Any HTML file readable by the app can be rendered and have the template source exposed"
In GitLab by @bcdickinson on Nov 30, 2019, 12:52

Steps to reproduce (using the test app and `./runserver.sh`:

1. Create a file `tests/templates/secure/fail.html` with the following content:
[code]
2. Run the test app with `./runserver.sh`
3. Go to http://localhost:8000/pattern-library/pattern/secure/fail.html
4. Recoil in horror as your non-pattern template's logic is exposed to anyone.

This is

[2020-02-19 07:40] thibaudcolas commented on #29
In GitLab by @bcdickinson on Nov 30, 2019, 14:44

It's not the case that you can load arbitrary files on the filesystem, they need to be accessible by Django's template loader. However, you can load any template your app can load, even if it's not part of the pattern library. This will be resolved by https://git.torchbox.com/tech/django-pattern-library/commit/a754cee696fe4617dd61e2e17d45c21163a26f

[2020-02-19 07:41] thibaudcolas opened #30 "Searching for pattern names is case sensitive"
In GitLab by @bcdickinson on Nov 30, 2019, 14:42

In the test app, searching for "pretty" fails to return "Pretty name for test molecule"

[2020-02-19 07:41] thibaudcolas commented on #30
In GitLab by @helenb on Nov 30, 2019, 15:40

assigned to @helenb

[2020-02-19 07:41] thibaudcolas commented on #30
In GitLab by @helenb on Jan 9, 2020, 08:17

closed via merge request !49

[2020-02-19 07:41] thibaudcolas commented on #30
In GitLab by @helenb on Jan 9, 2020, 08:17

mentioned in commit 280ede549b5aacd7d12ec6deb6fd46b2383efda2

[2020-02-19 07:41] #30 closed

[2020-02-19 07:41] thibaudcolas opened #31 "Javascript for the small, medium and large view breaks in ie11"
In GitLab by @helenb on Nov 30, 2019, 15:01

It needs a forEach polyfill

[2020-02-19 07:41] thibaudcolas commented on #31
In GitLab by @helenb on Nov 30, 2019, 15:39

Resolved in https://git.torchbox.com/tech/django-pattern-library/merge_requests/48

[2020-02-19 07:41] thibaudcolas opened #32 "Fix module-level import of Django in pattern_library - [closed]"
In GitLab by @bcdickinson on Dec 1, 2017, 10:58

_Merges fix-import-without-django-already-installed -> master_

This was causing pip install to fail if Django was not already installed

[2020-02-19 07:41] thibaudcolas opened #33 "Basic styling - [closed]"
In GitLab by @SimonDEvans on Dec 7, 2017, 16:10

_Merges basic-styling -> master_

[2020-02-19 07:41] thibaudcolas opened #34 "Allow one level of merging between context dicts in include tags - [merged]"
In GitLab by @bcdickinson on Dec 13, 2017, 10:33

_Merges include-context-merging -> master_

Fixes some missed features in the `IncludeNode` (passing extra context using `with` and isolating context using `only`). Provides first steps towards preservation of stub context data defined by parent patterns. Motivating example is breadcrumbs in CCA:

This appears in project and info page patterns:
[co

[2020-02-19 07:41] thibaudcolas opened #35 "Reverse order of extra_context and pattern_context - [closed]"
In GitLab by @bcdickinson on Dec 18, 2017, 11:09

_Merges fix-hidden-extra-context -> master_

Closes #5

[2020-02-19 07:41] thibaudcolas opened #36 "Fix IncludeNodes being broken after the first .render() call - [merged]"
In GitLab by @bcdickinson on Dec 19, 2017, 21:56

_Merges fix-hidden-extra-context -> master_

This fixes the issue where an IncludeNode will render incorrectly after the first time due to mutation of internal state.

[2020-02-19 07:41] thibaudcolas opened #37 "Add tests - [closed]"
In GitLab by @bcdickinson on Dec 24, 2017, 18:05

_Merges tests -> master_

This MR covers the addition of unit tests and also includes code and tests for marking safe all strings in YAML stub files.

Closes #9

[2020-02-19 07:42] thibaudcolas opened #38 "Fix falsey raw values for template tags, add tests and update runtests.py to… - [merged]"
In GitLab by @bcdickinson on Jan 26, 2018, 17:04

_Merges fix-falsey-raw-templatetag-values -> master_

Fix falsey raw values for template tags, add tests and update runtests.py to accept the standard arguments

Closes #13

[2020-02-19 07:42] thibaudcolas commented on #38
In GitLab by @bcdickinson on Feb 5, 2018, 09:45

mentioned in commit 5accf91d59af0bf1c3a9c505d0ea7b993a1a47d8

[2020-02-19 07:42] thibaudcolas commented on #38
In GitLab by @bcdickinson on Feb 5, 2018, 09:45

merged

[2020-02-19 07:42] thibaudcolas commented on #38
In GitLab by @bcdickinson on Feb 5, 2018, 09:45

Approved by Mikalai in person (he forgot his laptop this morning ;p )

[2020-02-19 07:42] #38 closed

[2020-02-19 07:42] thibaudcolas opened #39 "WIP: Browsable ui - [merged]"
In GitLab by @m1kola on Apr 9, 2018, 11:44

_Merges browsable-ui -> master_

@bcdickinson I've created a MR just to make it more visible

[2020-02-19 07:42] thibaudcolas commented on #39
In GitLab by @m1kola on Apr 9, 2018, 11:48

Now it returns `None` if there is no yaml file for a template (because `yaml.load('') == None`), which will make the rendering view to fail with this:

[code]

[2020-02-19 07:42] thibaudcolas commented on #39
In GitLab by @bcdickinson on Apr 9, 2018, 12:05

changed this line in [version 2 of the diff](https://git.torchbox.com/mikalai.radchuk/django-pattern-library/merge_requests/9/diffs?diff_id=7632&start_sha=44d056dde87ea8e3b4bfef2634aaf357838e8453#c021997f6df74d859b95818c0a391d823124b2f8_95_95)

[2020-02-19 07:42] thibaudcolas commented on #39
In GitLab by @bcdickinson on Apr 9, 2018, 12:05

Good spot, thank you Mikalai :) addressed in `15d5c70`

[2020-02-19 07:42] thibaudcolas commented on #39
In GitLab by @bcdickinson on Apr 9, 2018, 12:05

resolved all discussions

[2020-02-19 07:42] thibaudcolas commented on #39
In GitLab by @m1kola on Apr 19, 2018, 10:38

merged

[2020-02-19 07:42] thibaudcolas commented on #39
In GitLab by @m1kola on Apr 19, 2018, 10:38

Merged. Thanks Ben and Chris.

[2020-02-19 07:42] #39 closed

[2020-02-19 07:42] thibaudcolas opened #40 "Update docs - [closed]"
In GitLab by @m1kola on Apr 10, 2018, 17:31

_Merges init_docs -> master_

First version of docs: covers existing functionality, but not everything (see the TODO lists in the readme fields).

Rendered versions:

* [`README.md`](https://git.torchbox.com/mikalai.radchuk/django-pattern-library/blob/307bfec4c8244e4b9c73f48bb27b47a226c619e8/README.md)
* [`docs/README.md`](https://git.torchbox.com/mikal

[2020-02-19 07:42] thibaudcolas commented on #40
In GitLab by @tom on Apr 13, 2018, 11:07

reduce the amount

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @tom on Apr 13, 2018, 11:08

What will be hard to maintain - Mikalab itself?

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @tom on Apr 13, 2018, 11:09

alongside with your -> alongside your

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @tom on Apr 13, 2018, 11:09

for the template

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @tom on Apr 13, 2018, 11:10

define a

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @m1kola on Apr 13, 2018, 11:10

Yes. It uses Django private API and overrides some of Django's template tags (`include` and `extends`, for example).

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @tom on Apr 13, 2018, 11:10

The override process

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @tom on Apr 13, 2018, 11:11

it's -> its

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @tom on Apr 13, 2018, 11:12

where an image

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @m1kola on Apr 19, 2018, 10:46

Tom, thanks for the review.

Rebased and merged in 2fb27274cb750a977fcea5868bc1f078202280c0.

[2020-02-19 07:43] thibaudcolas commented on #40
In GitLab by @m1kola on Apr 19, 2018, 10:46

closed

[2020-02-19 07:43] #40 closed

[2020-02-19 07:43] thibaudcolas opened #41 "Add a frontend - [closed]"
In GitLab by @bcdickinson on Apr 19, 2018, 11:11

_Merges add-a-frontend -> master_

Chris's work on top of `browsable-ui` to make the interface non-horrible :)

[2020-02-19 07:43] thibaudcolas opened #42 "Build docs and refactoring - [merged]"
In GitLab by @m1kola on Jun 6, 2018, 14:46

_Merges build_docs_and_refactoring -> master_

[2020-02-19 07:43] thibaudcolas commented on #42
In GitLab by @m1kola on Jun 6, 2018, 14:54

merged

[2020-02-19 07:43] #42 closed

[2020-02-19 07:43] thibaudcolas opened #43 "Fe fixes - [merged]"
In GitLab by @chris-lawton on Jun 7, 2018, 12:05

_Merges fe-fixes -> master_

- Prevents wide code blocks from pushing the width of the page beyond the viewport, making some of the resizing buttons inaccessible
- Replaces cross icon used to close fullscreen iframes with help text for using the escape key instead
- Prevents iframe from being a fixed height after user resizes it manually and then m

[2020-02-19 07:43] thibaudcolas opened #44 "Fix logic for retrieving templates from the pattern library - [merged]"
In GitLab by @alxbridge on Oct 23, 2018, 11:11

_Merges 17-templatedoesnotexist-error -> master_

Closes #17

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @alxbridge on Oct 23, 2018, 11:37

assigned to @bcdickinson

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @bcdickinson on Oct 23, 2018, 11:41

This `else:` branch isn't needed, we could just raise the exception at the end of the function unconditionally.

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @bcdickinson on Oct 23, 2018, 11:43

One super-nit-picky comment, but otherwise LGTM. We could do with some tests to tie down how Mikalab's UI is supposed to behave but I think that's beyond the scope of this fix.

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @m1kola on Oct 23, 2018, 11:43

No need in a custom `__init__` method here. `PatternLibraryEmpty("Human readable error")` will work without it. Also the exception name itself is pretty explicit.

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @bcdickinson on Oct 23, 2018, 11:43

assigned to @alxbridge

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @alxbridge on Oct 23, 2018, 12:30

changed this line in [version 2 of the diff](https://git.torchbox.com/tech/django-pattern-library/merge_requests/14/diffs?diff_id=14508&start_sha=aa6070c3f4a9de863a019067f71c009974772d6c#3cfb1f36a0a48c588aeb7666c99440f981d305ee_25_25)

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @alxbridge on Oct 23, 2018, 12:30

changed this line in [version 2 of the diff](https://git.torchbox.com/tech/django-pattern-library/merge_requests/14/diffs?diff_id=14508&start_sha=aa6070c3f4a9de863a019067f71c009974772d6c#15964e39098f1b1d000d0d66f2ef2dcea3b37ba2_12_12)

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @alxbridge on Oct 23, 2018, 12:30

resolved all discussions

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @alxbridge on Oct 23, 2018, 12:30

Amended based on feedback

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @alxbridge on Oct 24, 2018, 10:29

merged

[2020-02-19 07:44] thibaudcolas commented on #44
In GitLab by @alxbridge on Oct 24, 2018, 10:29

mentioned in commit aaaaa8f966d79508ac5dd4587084cf377c7c4d84

[2020-02-19 07:44] #44 closed

[2020-02-19 07:44] thibaudcolas opened #45 "Resolve "Document required directory structure" - [merged]"
In GitLab by @alxbridge on Oct 23, 2018, 11:56

_Merges 18-document-required-directory-structure -> master_

Closes #18

[2020-02-19 07:44] thibaudcolas commented on #45
In GitLab by @alxbridge on Oct 23, 2018, 12:00

unmarked as a **Work In Progress**

[2020-02-19 07:44] thibaudcolas commented on #45
In GitLab by @alxbridge on Oct 23, 2018, 12:00

assigned to @bcdickinson

[2020-02-19 07:45] thibaudcolas commented on #45
In GitLab by @m1kola on Oct 23, 2018, 12:03

This is not necessary. Project can have static files in a different location: it really depends on the FE tooling. "Mikalab" doesn't make any assumptions on FE tooling.

For example, currently in wagtail kit, we have `static_src` outside of the app you are describing.

Other then this, looks good.

[2020-02-19 07:45] thibaudcolas commented on #45
In GitLab by @bcdickinson on Oct 23, 2018, 12:14

Following on from what @m1kola said, I think a few things could be tweaked here:

- An `apps.py` isn't required to make an app installable, and that's a Django thing, rather than a Mikalab thing.
- As Mikalai said, `static_src` isn't part of Mikalab either. I think there's a separate TODO somewhere about documenting what should be in a base templat

[2020-02-19 07:45] thibaudcolas commented on #45
In GitLab by @alxbridge on Oct 23, 2018, 12:14

changed this line in [version 2 of the diff](https://git.torchbox.com/tech/django-pattern-library/merge_requests/15/diffs?diff_id=14504&start_sha=b502fd845b53de92274df34bfa86cbc6877d6317#9f7cbce127b94a94ee14460050fbff2ce58417d0_32_30)

[2020-02-19 07:45] thibaudcolas commented on #45
In GitLab by @alxbridge on Oct 23, 2018, 12:24

added 2 commits

* 0abfb35c - Remove unnecessary reference to apps.py from documentation
* d0d938ea - Add reference to PATTERN_LIBRARY_TEMPLATE_DIR in the structure documentation

[Compare with previous version](https://git.torchbox.com/tech/django-pattern-library/merge_requests/15/diffs?diff_id=14506&start_sha=31e29058c33a84178f4603d3aa68a398c6f3d2e

[2020-02-19 07:45] thibaudcolas commented on #45
In GitLab by @alxbridge on Oct 23, 2018, 12:25

resolved all discussions

[2020-02-19 07:45] thibaudcolas commented on #45
In GitLab by @alxbridge on Oct 23, 2018, 12:26

Docs updated to reflect feedback

[2020-02-19 07:45] thibaudcolas commented on #45
In GitLab by @alxbridge on Oct 24, 2018, 10:29

mentioned in commit 65ec78b520dde8998e78d003583628028996b642

[2020-02-19 07:45] thibaudcolas commented on #45
In GitLab by @alxbridge on Oct 24, 2018, 10:29

merged

[2020-02-19 07:45] #45 closed

[2020-02-19 07:45] thibaudcolas opened #46 "Allows to override context and tags in a base template - [closed]"
In GitLab by @m1kola on Nov 26, 2018, 14:42

_Merges allow_fake_context_in_base -> master_

[2020-02-19 07:45] thibaudcolas opened #47 "ensures iframe hint doesn't interfere with content - [merged]"
In GitLab by @chris-lawton on Dec 4, 2018, 18:33

_Merges fix/iframe-hint -> master_

https://git.torchbox.com/tech/django-pattern-library/issues/20

[2020-02-19 07:45] thibaudcolas commented on #47
In GitLab by @SimonDEvans on Dec 5, 2018, 10:27

merged

[2020-02-19 07:52] thibaudcolas opened #48 "[PLACEHOLDER ISSUE] - for issue #1"
This is to ensure the issue numbers in GitLab and GitHub are the same

[2020-02-19 07:52] #48 closed

[2020-02-19 07:52] thibaudcolas opened #49 "[PLACEHOLDER ISSUE] - for issue #2"

[2020-02-19 07:53] thibaudcolas opened #50 "Open source this"
In GitLab by @tomdyson on Jan 5, 2018, 11:35

Let's make this open source ASAP - I suggest github.com/torchbox/mikalab

[2020-02-19 07:53] thibaudcolas commented on #50
In GitLab by @m1kola on Jan 17, 2018, 11:53

Before we open source the project or start using in on other projects inside the company, we need to do the following:

1. Write a spec to define behaviour. It will probably require some tweaks in the implementation, because there are some flaws, currently
2. Write tests
3. Publish it in PyPI
4. (Optional) Create a plugin for most common Wagtail tags to

[2020-02-19 07:53] thibaudcolas commented on #50
In GitLab by @m1kola on Apr 10, 2018, 17:44

I've tried to update documentation to reflect the exiting functionality in !10. It doesn't cover everything, but it's a start.

[2020-02-19 07:53] thibaudcolas opened #51 "Run npm audit fix - [merged]"
In GitLab by @SimonDEvans on Feb 2, 2019, 09:45

_Merges fe/npm-audit -> master_

Bump `node-sass` version to fix vulnerabilities.

[2020-02-19 07:53] thibaudcolas commented on #51
In GitLab by @SimonDEvans on Feb 2, 2019, 09:46

merged

[2020-02-19 07:53] thibaudcolas commented on #51
In GitLab by @SimonDEvans on Feb 2, 2019, 09:46

mentioned in commit 3c980054424eb7bc0db0557d3b27982170d1be44

[2020-02-19 07:53] #51 closed

[2020-02-19 07:53] thibaudcolas opened #52 "Fe/fix a11y - [merged]"
In GitLab by @SimonDEvans on Feb 2, 2019, 10:03

_Merges fe/fix-a11y -> master_

We will forever experience a11y testing tool errors with patterns that use `id`s.

Markup is rendered twice (iframe and source panel) which flags up as: `id attribute value must be unique` with a tool like axe.

For Torchbox, this is mostly only an issue in patterns that reference SVG sprites.

[2020-02-19 07:53] thibaudcolas commented on #52
In GitLab by @SimonDEvans on Feb 2, 2019, 10:52

added 2 commits

<ul><li>949b7eae - Fix heading sizing/order</li><li>9267dd6f - Use dark theme syntax highlighting by default</li></ul>

[Compare with previous version](https://git.torchbox.com/tech/django-pattern-library/merge_requests/19/diffs?diff_id=19328&start_sha=a23373aeff7c5ad9d60348baeb8d763e01c221cf)

[2020-02-19 07:53] thibaudcolas commented on #52
In GitLab by @SimonDEvans on Feb 2, 2019, 10:56

unmarked as a **Work In Progress**

[2020-02-19 07:54] thibaudcolas commented on #52
In GitLab by @bcdickinson on Feb 2, 2019, 11:17

LGTM. Merge at will, soldier.

[2020-02-19 07:54] thibaudcolas commented on #52
In GitLab by @SimonDEvans on Feb 2, 2019, 11:17

merged

[2020-02-19 07:54] thibaudcolas commented on #52
In GitLab by @SimonDEvans on Feb 2, 2019, 11:17

mentioned in commit 3c47af4821f574391b73320778e583bde5519a14

[2020-02-19 07:54] #52 closed

[2020-02-19 07:54] thibaudcolas opened #53 "Add link to open patterns outside library’s UI - [merged]"
In GitLab by @SimonDEvans on Feb 2, 2019, 11:27

_Merges fe/open-pattern-externally -> master_

[2020-02-19 07:54] thibaudcolas commented on #53
In GitLab by @bcdickinson on Feb 2, 2019, 12:08

Nice one, cheers Simon.

[2020-02-19 07:54] thibaudcolas commented on #53
In GitLab by @bcdickinson on Feb 2, 2019, 12:08

assigned to @SimonDEvans

[2020-02-19 07:54] thibaudcolas commented on #53
In GitLab by @SimonDEvans on Feb 2, 2019, 12:13

merged

[2020-02-19 07:54] thibaudcolas commented on #53
In GitLab by @SimonDEvans on Feb 2, 2019, 12:13

mentioned in commit 8264f208b0fffeaf9b013ca0099bd94f93738010

[2020-02-19 07:54] #53 closed

[2020-02-19 07:54] thibaudcolas opened #54 "Add tox for testing across Django versions - [merged]"
In GitLab by @bcdickinson on Feb 2, 2019, 11:41

_Merges tox -> master_

[2020-02-19 07:54] thibaudcolas commented on #54
In GitLab by @todd-dembrey on Feb 2, 2019, 11:48

Do we want to run the linting separately?

e.g. https://github.com/wagtail/wagtail/blob/master/tox.ini#L74
[code]

[2020-02-19 07:54] thibaudcolas commented on #54
In GitLab by @bcdickinson on Feb 2, 2019, 12:06

Could do, but it's working for now... I'm tempted to leave this and move on for now.

[2020-02-19 07:54] thibaudcolas commented on #54
In GitLab by @bcdickinson on Feb 2, 2019, 12:10

merged

[2020-02-19 07:54] thibaudcolas commented on #54
In GitLab by @bcdickinson on Feb 2, 2019, 12:10

mentioned in commit 39f2e69d23d77131ffd47da2990c9eb81273d56d

[2020-02-19 07:54] #54 closed

[2020-02-19 07:54] thibaudcolas opened #55 "Fix sidebar height - [merged]"
In GitLab by @SimonDEvans on Feb 2, 2019, 12:43

_Merges fe/fix-sidebar-height -> master_

[2020-02-19 07:55] thibaudcolas commented on #55
In GitLab by @SimonDEvans on Feb 2, 2019, 12:43

merged

[2020-02-19 07:55] thibaudcolas commented on #55
In GitLab by @SimonDEvans on Feb 2, 2019, 12:43

mentioned in commit 9cfe8cbfe0bfed1a64df975968306d3a52094ec4

[2020-02-19 07:55] #55 closed

[2020-02-19 07:55] thibaudcolas opened #56 "Pattern search - [merged]"
In GitLab by @SimonDEvans on Feb 2, 2019, 15:06

_Merges fe/pattern-search -> master_

[2020-02-19 07:55] thibaudcolas commented on #56
In GitLab by @SimonDEvans on Feb 2, 2019, 15:47

added 3 commits

<ul><li>795d62fd...f59c22d3 - 2 commits from branch <code>master</code></li><li>43f0bea2 - Merge remote-tracking branch &#39;origin/master&#39; into fe/pattern-search</li></ul>

[Compare with previous version](https://git.torchbox.com/tech/django-pattern-library/merge_requests/24/diffs?diff_id=19347&start_sha=795d62fdf313f7401a27d7e

[2020-02-19 07:55] thibaudcolas commented on #56
In GitLab by @SimonDEvans on Feb 2, 2019, 15:48

unmarked as a **Work In Progress**

[2020-02-19 07:55] thibaudcolas commented on #56
In GitLab by @SimonDEvans on Feb 2, 2019, 15:49

merged

[2020-02-19 07:55] thibaudcolas commented on #56
In GitLab by @SimonDEvans on Feb 2, 2019, 15:49

mentioned in commit f0c64ef3f23b5ff1ddf12bdd4ec3aa9a1c49d637

[2020-02-19 07:55] #56 closed

[2020-02-19 07:55] thibaudcolas opened #57 "persist menu state - [merged]"
In GitLab by @chris-lawton on Feb 2, 2019, 15:29

_Merges fe/persist-menu-state -> master_

[2020-02-19 07:55] thibaudcolas commented on #57
In GitLab by @chris-lawton on Feb 2, 2019, 15:36

merged

[2020-02-19 07:55] thibaudcolas commented on #57
In GitLab by @chris-lawton on Feb 2, 2019, 15:36

mentioned in commit f59c22d3ee4b972fe4cbe1d65ebf4ff948f8adf1

[2020-02-19 07:55] #57 closed

[2020-02-19 07:55] thibaudcolas opened #58 "Pretty pattern names in YAML files - [merged]"
In GitLab by @bcdickinson on Feb 2, 2019, 15:40

_Merges pattern-names-in-yaml -> master_

[2020-02-19 07:55] thibaudcolas commented on #58
In GitLab by @todd-dembrey on Feb 2, 2019, 16:26

added 18 commits

<ul><li>52173a5f...f2ecb20a - 17 commits from branch <code>master</code></li><li>849f3423 - Merge branch &#39;master&#39; into &#39;pattern-names-in-yaml&#39;</li></ul>

[Compare with previous version](https://git.torchbox.com/tech/django-pattern-library/merge_requests/26/diffs?diff_id=19352&start_sha=52173a5fa9690e47b51487a8c7ca2

[2020-02-19 07:55] thibaudcolas commented on #58
In GitLab by @todd-dembrey on Feb 2, 2019, 16:28

merged

[2020-02-19 07:55] thibaudcolas commented on #58
In GitLab by @todd-dembrey on Feb 2, 2019, 16:28

mentioned in commit abf9730f2ed746091243620ff032824b4ba46a81

[2020-02-19 07:55] #58 closed

[2020-02-19 07:55] thibaudcolas opened #59 "Fe/hide menu on mobile - [merged]"
In GitLab by @chris-lawton on Feb 2, 2019, 15:42

_Merges fe/hide-menu-on-mobile -> master_

[2020-02-19 07:56] thibaudcolas commented on #59
In GitLab by @chris-lawton on Feb 2, 2019, 15:50

added 8 commits

<ul><li>7bd3399c...f0c64ef3 - 6 commits from branch <code>master</code></li><li>20218461 - tidy up responsive styles and hide sidebar if coming from mobile device</li><li>ab8ad201 - cleanup unused code</li></ul>

[Compare with previous version](https://git.torchbox.com/tech/django-pattern-library/merge_requests/27/diffs?diff_id=193

[2020-02-19 07:56] thibaudcolas commented on #59
In GitLab by @chris-lawton on Feb 2, 2019, 15:56

merged

[2020-02-19 07:56] thibaudcolas commented on #59
In GitLab by @chris-lawton on Feb 2, 2019, 15:56

mentioned in commit d9000040f66bdb3a4007413e7da21d756d7436f4

[2020-02-19 07:56] #59 closed

[2020-02-19 07:56] thibaudcolas opened #60 "Split JS - [merged]"
In GitLab by @SimonDEvans on Feb 2, 2019, 16:16

_Merges fe/split-js -> master_

[2020-02-19 07:56] thibaudcolas commented on #60
In GitLab by @SimonDEvans on Feb 2, 2019, 16:19

merged

[2020-02-19 07:56] thibaudcolas commented on #60
In GitLab by @SimonDEvans on Feb 2, 2019, 16:19

mentioned in commit a30a8f5a090f90c5c2efe63dc859e45ff5f3ac54

[2020-02-19 07:56] #60 closed

[2020-02-19 07:56] thibaudcolas opened #61 "Remove sidebar transition - [merged]"
In GitLab by @SimonDEvans on Feb 2, 2019, 16:24

_Merges fe/remove-sidebar-transition -> master_

[2020-02-19 07:56] thibaudcolas commented on #61
In GitLab by @SimonDEvans on Feb 2, 2019, 16:24

enabled an automatic merge when the pipeline for 7814b36931c5210e746078d6479855691e110f0a succeeds

[2020-02-19 07:56] thibaudcolas commented on #61
In GitLab by @SimonDEvans on Feb 2, 2019, 16:25

merged

[2020-02-19 07:56] thibaudcolas commented on #61
In GitLab by @SimonDEvans on Feb 2, 2019, 16:25

mentioned in commit f2ecb20a5ddaf50002262ea83363dc04a387823f

[2020-02-19 07:56] #61 closed

[2020-02-19 07:56] thibaudcolas opened #62 "Fe/active menu styles - [merged]"
In GitLab by @chris-lawton on Feb 2, 2019, 16:32

_Merges fe/active-menu-styles -> master_

[2020-02-19 07:57] thibaudcolas commented on #62
In GitLab by @SimonDEvans on Feb 2, 2019, 16:36

enabled an automatic merge when the pipeline for eadf5499ec9930575a80be6667e49ecfc2a01592 succeeds

[2020-02-19 07:57] thibaudcolas commented on #62
In GitLab by @SimonDEvans on Feb 2, 2019, 16:36

merged

[2020-02-19 07:57] thibaudcolas commented on #62
In GitLab by @SimonDEvans on Feb 2, 2019, 16:36

mentioned in commit 5e06b2820f7ecd08e78e1a01899a6d7e2e982776

[2020-02-19 07:57] #62 closed

[2020-02-19 07:57] thibaudcolas opened #63 "default pattern name to the filename - [merged]"
In GitLab by @todd-dembrey on Feb 2, 2019, 16:42

_Merges feature/filenames-not-filepaths -> master_

[2020-02-19 07:57] thibaudcolas commented on #63
In GitLab by @todd-dembrey on Feb 2, 2019, 17:06

marked as a **Work In Progress** from aabb83ff0d5793cf3ca6d59ac3760fe843530758

[2020-02-19 07:57] thibaudcolas commented on #63
In GitLab by @todd-dembrey on Feb 2, 2019, 17:07

unmarked as a **Work In Progress**

[2020-02-19 07:57] thibaudcolas commented on #63
In GitLab by @todd-dembrey on Feb 2, 2019, 17:08

@bcdickinson for review please

[2020-02-19 07:57] thibaudcolas commented on #63
In GitLab by @bcdickinson on Feb 3, 2019, 09:29

merged

[2020-02-19 07:57] thibaudcolas commented on #63
In GitLab by @bcdickinson on Feb 3, 2019, 09:29

mentioned in commit 061e0f2fedabc274b937deca6ac05e80613363de

[2020-02-19 07:57] #63 closed

[2020-02-19 07:57] thibaudcolas opened #64 "Catch root page loading - [merged]"
In GitLab by @SimonDEvans on Feb 4, 2019, 09:19

_Merges fix/menu-state -> master_

There's no menu state to persist if we're loading the root page.

[2020-02-19 07:57] thibaudcolas commented on #64
In GitLab by @SimonDEvans on Feb 4, 2019, 09:19

merged

[2020-02-19 07:57] thibaudcolas commented on #64
In GitLab by @SimonDEvans on Feb 4, 2019, 09:19

mentioned in commit 746d3682b96092f97a4e51bf226d7dd1eb7c5ad4

[2020-02-19 07:58] #64 closed

[2020-02-19 07:58] thibaudcolas opened #65 "Read description in setup.py from readme - [merged]"
In GitLab by @tomusher on Feb 7, 2019, 10:27

_Merges setup-py-changes -> master_

[2020-02-19 07:58] thibaudcolas commented on #65
In GitLab by @m1kola on Feb 7, 2019, 11:59

LGTM. Thanks, Tom

[2020-02-19 07:58] thibaudcolas commented on #65
In GitLab by @m1kola on Feb 7, 2019, 12:00

merged

[2020-02-19 07:58] #65 closed

[2020-02-19 07:58] thibaudcolas opened #66 "pin flake 8 and isort - [merged]"
In GitLab by @chris-lawton on Mar 19, 2019, 14:56

_Merges pin-isort-flake8 -> master_

[2020-02-19 07:58] thibaudcolas commented on #66
In GitLab by @chris-lawton on Mar 19, 2019, 14:56

merged

[2020-02-19 07:58] thibaudcolas commented on #66
In GitLab by @chris-lawton on Mar 19, 2019, 14:56

mentioned in commit 465cb3a668b9e7b007657f9f6201236ff33239ab

[2020-02-19 07:58] #66 closed

[2020-02-19 07:58] thibaudcolas opened #67 "Get rid of warnings - [merged]"
In GitLab by @m1kola on Mar 19, 2019, 15:08

_Merges get_rid_of_warnings -> master_

[2020-02-19 07:58] thibaudcolas opened #68 "Now it can read yaml files with UTF-8 chars again. - [merged]"
In GitLab by @m1kola on Mar 19, 2019, 15:23

_Merges fix_encoding_issue_with_configs -> master_

Fixes #23

[2020-02-19 07:58] thibaudcolas opened #69 "Several improvements to developer experience - [closed]"
In GitLab by @m1kola on Mar 19, 2019, 16:06

_Merges latest_linter_versions -> master_

Improves developer experience:

* Makes linters ignore `node_modules`, `venv` and several other directories. Doesn't affect CI, but errors occur locally when you have FE dependencies installed, for example
* Fixes an error in CI (caused by attempt to install the library in the editable mode and by the absence o

[2020-02-19 07:58] thibaudcolas opened #70 "Bugfix/make compat with django 2.2 - [merged]"
In GitLab by @todd-dembrey on Jun 11, 2019, 09:55

_Merges bugfix/make-compat-with-django-2.2 -> master_

[2020-02-19 07:58] thibaudcolas commented on #70
In GitLab by @bcdickinson on Jun 11, 2019, 10:11

LGTM as long as we're confident that `mark_safe` change is exercised by the tests.

[2020-02-19 07:58] thibaudcolas commented on #70
In GitLab by @bcdickinson on Jun 11, 2019, 10:11

assigned to @todd-dembrey

[2020-02-19 07:58] thibaudcolas commented on #70
In GitLab by @todd-dembrey on Jun 11, 2019, 10:44

This was falling over on the import of `utils.py`

`views.py` imports the `utils.py` and there are tests that cover the views so i'm happy that this is ok.

I've also tested it in my failing project and this is now fixed.

[2020-02-19 07:58] thibaudcolas commented on #70
In GitLab by @todd-dembrey on Jun 11, 2019, 10:44

merged

[2020-02-19 07:59] thibaudcolas commented on #70
In GitLab by @todd-dembrey on Jun 11, 2019, 10:44

mentioned in commit 0621d3b04312aaa3260748b93653627ccc806ba9

[2020-02-19 07:59] #70 closed

[2020-02-19 07:59] thibaudcolas opened #71 "Local dev docs - [merged]"
In GitLab by @bcdickinson on Jul 23, 2019, 11:42

_Merges local-dev-docs -> master_

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @helenb on Jul 24, 2019, 12:33

what is the command to clone the repo? can we add that here? I assume it is `git clone git@git.torchbox.com:tech/django-pattern-library.git`

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @helenb on Jul 24, 2019, 12:37

is the virtualenv supposed to be set up at `django-pattern-library` or is it a parent folder that `django-pattern-library` sits inside?

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @helenb on Jul 24, 2019, 12:41

Specify node version 10 (lots of errors with 12)

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @helenb on Jul 24, 2019, 12:42

This gives an error

[code]

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @helenb on Jul 24, 2019, 12:43

oh - was this the step I was meant to use above to set up the virtualenv?

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @tombola on Jul 30, 2019, 13:07

@helenb - was this meant to be assigned to me rather than Ben?

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @helenb on Aug 4, 2019, 19:43

assigned to @bcdickinson and unassigned @tombola

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @helenb on Aug 4, 2019, 19:44

@tombola no, I think it was @bcdickinson who orignally assigned it to you when you were going to look into setting up a local mikalab build. Now back with Ben.

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @bcdickinson on Aug 5, 2019, 09:19

Yes, it's just a `git clone`. I don't want to stick the URL of this repo in here. What could I do to make this more obvious?

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @bcdickinson on Aug 5, 2019, 09:20

I don't have an opinion on this, it's just a Python virtualenv. I don't want to assume too much about people's setups by prescribing a set of commands here. We could add a suggestion, perhaps?

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @bcdickinson on Aug 5, 2019, 09:20

There is already a `.nvmrc` file, but we could make this more explicit.

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @bcdickinson on Aug 5, 2019, 09:24

This is because you're running it with Python 2, which isn't supported. It's specified by classifiers [here](https://pypi.org/project/django-pattern-library/), but we should add a section about supported versions.

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @bcdickinson on Aug 5, 2019, 09:25

This is one way of setting up a virtualenv, but these instructions are specifically for building the package. We should tidy this up and make it more consistent.

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @chris-lawton on Aug 27, 2019, 17:02

Got this running using the following:

[code]

`deactivate` to exit

[2020-02-19 07:59] thibaudcolas commented on #71
In GitLab by @chris-lawton on Aug 27, 2019, 17:04

Perhaps we need to add a note about how to go about

- ensuring the user has the correct version of Python (and if not how to get it?)
- creating a virtual environment

[2020-02-19 08:00] thibaudcolas commented on #71
In GitLab by @helenb on Sep 24, 2019, 08:21

changed this line in [version 2 of the diff](/tech/django-pattern-library/merge_requests/40/diffs?diff_id=28036&start_sha=83ba0bd8d5a4fe503c27770f9896c85ae59a4e9c#3b10936473b2e06c9c543e60984e05e0e7514cbd_8_16)

[2020-02-19 08:00] thibaudcolas commented on #71
In GitLab by @helenb on Sep 24, 2019, 11:13

changed this line in [version 3 of the diff](/tech/django-pattern-library/merge_requests/40/diffs?diff_id=28051&start_sha=5a8bb338a6322eccb213a1cd8714e6a2d7bf97e0#3b10936473b2e06c9c543e60984e05e0e7514cbd_52_60)

[2020-02-19 08:00] thibaudcolas commented on #71
In GitLab by @helenb on Oct 25, 2019, 14:00

merged

[2020-02-19 08:00] thibaudcolas commented on #71
In GitLab by @helenb on Oct 25, 2019, 14:00

mentioned in commit 60c5cd79596bcf8329f9a99d9cf7f5e1e7acb1c2

[2020-02-19 08:00] thibaudcolas opened #72 "Add the ability to process a markdown file for each pattern with documentation - [merged]"
In GitLab by @helenb on Sep 11, 2019, 11:38

_Merges feature/add-documentation-tab -> master_

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @helenb on Sep 11, 2019, 11:43

@bcdickinson I need some help with how to set up the `markdown` library correctly. I had to install this locally with `pip install` - can we add that to the virtualenv set up somehow?

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @helenb on Sep 24, 2019, 11:23

Dependency for markdown now added.

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @bcdickinson on Oct 16, 2019, 15:13

Hi Helen, thanks for this, it's looks good to me, with the small exception of the padding/margins being very odd in the rendered text. I think blocks need a little more vertical spacing:

![Screenshot_from_2019-10-16_15-11-28](/uploads/9d34f646194c935b9c04af0b52c3feea/Screenshot_from_2019-10-16_15-11-28.png)

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @bcdickinson on Oct 16, 2019, 15:16

Can we just nick Github's markdown style here somehow?

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @helenb on Oct 25, 2019, 14:11

Hi Ben, I think you just didn't compile the static files, as I added some custom css to style the markdown elements:

![Screen_Shot_2019-10-25_at_14.10.51](/uploads/d0dc07fe570712fa22d52dfc1c1cbf76/Screen_Shot_2019-10-25_at_14.10.51.png)

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @bcdickinson on Oct 28, 2019, 09:54

resolved all threads

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @bcdickinson on Oct 28, 2019, 09:54

Ah, my bad! LGTM.

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @bcdickinson on Oct 28, 2019, 09:55

merged

[2020-02-19 08:00] thibaudcolas commented on #72
In GitLab by @bcdickinson on Oct 28, 2019, 09:55

mentioned in commit 525e02149ac9553c4886c39eee6ddfa1adfef3f7

[2020-02-19 08:00] #72 closed

[2020-02-19 08:00] thibaudcolas opened #73 "feature/add-MR-template - [merged]"
In GitLab by @chris-lawton on Oct 2, 2019, 17:16

_Merges feature/add-MR-template -> master_

Adds a MR template for when this gets open sourced. May require some tweaking based on anything specific to this codebase.

[2020-02-19 08:01] thibaudcolas commented on #73
In GitLab by @helenb on Oct 3, 2019, 14:38

This looks good Chris. Only one query - not sure what this line means "`Any dependent changes have been merged and published in downstream modules`"

[2020-02-19 08:03] thibaudcolas opened #74 "Update readme with more examples - [merged]"
In GitLab by @helenb on Oct 10, 2019, 08:46

_Merges feature/update-yaml-examples -> master_

I've added Kevin's examples in a further section at the end of the README. This may be in danger of making it too long - another option would to put these example in another file in the docs and link to them from the README.

[2020-02-19 08:03] thibaudcolas commented on #74
In GitLab by @helenb on Oct 30, 2019, 10:17

merged

[2020-02-19 08:03] thibaudcolas commented on #74
In GitLab by @helenb on Oct 30, 2019, 10:17

mentioned in commit afb5d7a012aeefcc58904670e8b727691e12532a

[2020-02-19 08:03] #74 closed

[2020-02-19 08:03] thibaudcolas opened #75 "Use Poetry instead of setup.py - [merged]"
In GitLab by @bcdickinson on Oct 17, 2019, 17:06

_Merges feature/poetry -> master_

~~To-do~~ Done list:

- [x] Test build process
- [x] Test release process: https://pypi.org/project/django-pattern-library/0.2.5b2/
- [x] Update dev process docs

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @thibaudcolas on Oct 18, 2019, 10:27

Edit: ah I see you’re just lifting what’s in setup.py. So, no, this might not be a good idea to also make improvements at the same time as porting this over.

Might need updating?

[code]

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @thibaudcolas on Oct 18, 2019, 10:39

Woah

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 18, 2019, 10:50

changed this line in [version 2 of the diff](/tech/django-pattern-library/merge_requests/44/diffs?diff_id=29043&start_sha=a8bd0dc2ec93556a67426f5ca741d992aa7d72b1#5d07e7d72637aa0d59c89d381fe6dc4cf46e2491_19_19)

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 18, 2019, 10:50

Yup, great idea, thanks Thibaud :smile:

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 18, 2019, 11:52

added 2 commits

<ul><li>27aef4bf - Use poetry instead of setup.py</li><li>7b0e6135 - Move isort config to pyproject.toml and remove setup.cfg</li></ul>

[Compare with previous version](/tech/django-pattern-library/merge_requests/44/diffs?diff_id=29053&start_sha=233d633367c75bf990a1c15ddbd4efa5be035347)

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 18, 2019, 12:15

I fixed this and the license and python version classifiers too.

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 18, 2019, 12:15

resolved all threads

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 19, 2019, 16:51

@kevinhowbrook You might be interested in this!

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 25, 2019, 15:34

added 14 commits

<ul><li>666cf2e3...b81c61fb - 11 commits from branch <code>master</code></li><li>5d124092 - Use poetry instead of setup.py</li><li>f06818ea - Move isort config to pyproject.toml and remove setup.cfg</li><li>a043519c - Replace MANIFEST.in</li></ul>

[Compare with previous version](/tech/django-pattern-library/merge_requests/44/diff

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 25, 2019, 16:06

marked the task **Update dev process docs (will clash with !40 )** as completed

[2020-02-19 08:03] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 25, 2019, 16:30

unmarked as a **Work In Progress**

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @helenb on Oct 31, 2019, 08:49

I created a fresh build and ran the `poetry install` command without any problems.

When I ran `runserver.sh` I did see an error message (I'm not sure if it is related to these changes):

[code]

Then at http://localhost:8000/pattern-library/ I see the following error:

[code]

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @helenb on Oct 31, 2019, 08:50

Can you add just a bit more detail on why to be careful with that command?

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @helenb on Oct 31, 2019, 08:56

Note that after running the poetry install it created an untracked `poetry.lock` file. We should either gitignore this or add it to be tracked.

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 31, 2019, 09:23

Hi Helen, it looks like you're not running this from the virtualenv that Poetry creates, I missed a `poetry run`... I'll fix this and you can try again.

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 31, 2019, 09:24

I think you might need to pull, `poetry.lock` is already in `.gitignore`

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 31, 2019, 09:26

Because its purpose is to delete files that Git doesn't control, so you can lose things if you're being careless. I'll tweak it to say how to check for files that shouldn't be there and leave removing them to people's initiative.

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 31, 2019, 09:28

changed this line in [version 8 of the diff](/tech/django-pattern-library/merge_requests/44/diffs?diff_id=29690&start_sha=c994b78c19c17eaafc4b3b5720558b98b90c03bd#3b10936473b2e06c9c543e60984e05e0e7514cbd_101_89)

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 31, 2019, 09:35

resolved all threads

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 31, 2019, 09:45

assigned to @helenb and unassigned @bcdickinson

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @helenb on Oct 31, 2019, 12:33

Yes, it all worked fine with the new instructions.

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @helenb on Oct 31, 2019, 12:34

I'm happy for this to be merged now @bcdickinson

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @bcdickinson on Oct 31, 2019, 14:19

added 15 commits

<ul><li>83899917...03a5039d - 8 commits from branch <code>master</code></li><li>c18cc1d1 - Use poetry instead of setup.py</li><li>69814c63 - Move isort config to pyproject.toml and remove setup.cfg</li><li>f329a5e7 - Replace MANIFEST.in</li><li>9f1380cf - Update release process docs</li><li>1cd3d9e5 - Fix pyproject.toml version</l

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @helenb on Oct 31, 2019, 18:38

Tested after rebase and all works fine.

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @helenb on Oct 31, 2019, 18:38

merged

[2020-02-19 08:04] thibaudcolas commented on #75
In GitLab by @helenb on Oct 31, 2019, 18:38

mentioned in commit b26a2e7e001731ac8fc7074bea6b0de026ed6438

[2020-02-19 08:04] #75 closed

[2020-02-19 08:04] thibaudcolas opened #76 "Mention changelog guidelines in docs - [merged]"
In GitLab by @helenb on Oct 31, 2019, 08:57

_Merges update-docs-re-changelog -> master_

[2020-02-19 08:05] thibaudcolas commented on #76
In GitLab by @bcdickinson on Oct 31, 2019, 09:46

merged

[2020-02-19 08:05] thibaudcolas commented on #76
In GitLab by @bcdickinson on Oct 31, 2019, 09:46

mentioned in commit 03a5039d3d119dc83d850999416aa88bb5722ff1

[2020-02-19 08:05] #76 closed

[2020-02-19 08:05] thibaudcolas opened #78 "Fix/remove axe audit errors - [merged]"
In GitLab by @helenb on Nov 30, 2019, 15:02

_Merges fix/remove-axe-audit-errors -> master_

Resolve accessibility issues raised by axe

[2020-02-19 08:05] thibaudcolas commented on #78
In GitLab by @bcdickinson on Nov 30, 2019, 15:06

LGTM, thanks Helen

[2020-02-19 08:05] thibaudcolas commented on #78
In GitLab by @bcdickinson on Nov 30, 2019, 15:06

assigned to @helenb and unassigned @bcdickinson

[2020-02-19 08:05] thibaudcolas commented on #78
In GitLab by @helenb on Nov 30, 2019, 15:06

merged

[2020-02-19 08:05] thibaudcolas commented on #78
In GitLab by @helenb on Nov 30, 2019, 15:06

mentioned in commit 7b0bf8d934bd3dc133378ff269e248764723fbb0

[2020-02-19 08:05] #78 closed

[2020-02-19 08:05] thibaudcolas opened #79 "Add ie11 js polyfills - [merged]"
In GitLab by @helenb on Nov 30, 2019, 15:38

_Merges fix/ie11-js-errors -> master_

JS was broken in IE11 due to missing polyfills - this ensures that the S, M and L buttons will work in ie11 and allow easier testing in different browsers.

[2020-02-19 08:05] thibaudcolas commented on #79
In GitLab by @helenb on Dec 16, 2019, 09:47

assigned to @chris-lawton and unassigned @bcdickinson

[2020-02-19 08:05] thibaudcolas commented on #79
In GitLab by @chris-lawton on Dec 20, 2019, 16:37

Looks good, although i wonder if we should move the js polyfill files to their own dir - not sure it feels right to put them alongside components?

[2020-02-19 08:05] thibaudcolas commented on #79
In GitLab by @helenb on Jan 8, 2020, 12:19

Thanks Chris, I've updated the location of the polyfills. There's now an unrelated issue with tests failing so I'll merge once that is resolved.

[2020-02-19 08:06] thibaudcolas commented on #79
In GitLab by @helenb on Jan 9, 2020, 08:20

added 7 commits

<ul><li>ad213fb4...280ede54 - 6 commits from branch <code>master</code></li><li>dcae5192 - Merge remote-tracking branch &#39;origin/master&#39; into fix/ie11-js-errors</li></ul>

[Compare with previous version](/tech/django-pattern-library/merge_requests/48/diffs?diff_id=32264&start_sha=ad213fb4c0fa80bf6ef2f898a84d39a5a0a376ac)

[2020-02-19 08:06] thibaudcolas commented on #79
In GitLab by @helenb on Jan 9, 2020, 08:24

merged

[2020-02-19 08:06] thibaudcolas commented on #79
In GitLab by @helenb on Jan 9, 2020, 08:24

mentioned in commit 930da7df7b68400720a26bf6c1b429324fb93a61

[2020-02-19 08:06] #79 closed

[2020-02-19 08:06] thibaudcolas opened #80 "Fix/search case sensitivity - [merged]"
In GitLab by @helenb on Nov 30, 2019, 15:47

_Merges fix/search-case-sensitivity -> master_

Fixes https://git.torchbox.com/tech/django-pattern-library/issues/27

[2020-02-19 08:06] thibaudcolas commented on #80
In GitLab by @helenb on Dec 16, 2019, 09:46

assigned to @chris-lawton and unassigned @bcdickinson

[2020-02-19 08:06] thibaudcolas commented on #80
In GitLab by @helenb on Jan 8, 2020, 12:20

@chris-lawton are you happy for me to merge this one once the issue with tests is resolved?

[2020-02-19 08:06] thibaudcolas commented on #80
In GitLab by @chris-lawton on Jan 8, 2020, 15:05

Go for it

[2020-02-19 08:06] thibaudcolas commented on #80
In GitLab by @helenb on Jan 9, 2020, 08:16

unmarked as a **Work In Progress**

[2020-02-19 08:06] thibaudcolas commented on #80
In GitLab by @helenb on Jan 9, 2020, 08:17

merged

[2020-02-19 08:06] thibaudcolas commented on #80
In GitLab by @helenb on Jan 9, 2020, 08:17

mentioned in commit 280ede549b5aacd7d12ec6deb6fd46b2383efda2

[2020-02-19 08:06] #80 closed

[2020-02-19 08:06] thibaudcolas opened #81 "Fix open / close of nav bar after switch to grid layout - [merged]"
In GitLab by @helenb on Nov 30, 2019, 17:32

_Merges fix/mobile-display -> master_

When I switched the layout to grid I inadvertently broke the open / close of the navigation. This fixes that (although the animation now only works in Firefox as other browsers don't support a transition of `grid-template-columns`).

[2020-02-19 08:06] thibaudcolas commented on #81
In GitLab by @helenb on Dec 16, 2019, 09:46

assigned to @chris-lawton and unassigned @bcdickinson

[2020-02-19 08:06] thibaudcolas commented on #81
In GitLab by @chris-lawton on Dec 20, 2019, 16:34

This looks ok to me. Out of curiosity what was the reason for moving away from transitioning margin?

[2020-02-19 08:06] thibaudcolas commented on #81
In GitLab by @helenb on Jan 6, 2020, 08:50

As part of the accessibility audit I needed to remove a wrapper in order to satisfy the requirement about landmarks being top level in the markup. That led to a change to use a grid layout from a flex one, and afterwards I realised that had broken the transitioning margin and this was the fix.

[2020-02-19 08:06] thibaudcolas commented on #81
In GitLab by @helenb on Jan 8, 2020, 12:05

merged

[2020-02-19 08:06] thibaudcolas commented on #81
In GitLab by @helenb on Jan 8, 2020, 12:05

mentioned in commit 50d70a0a267eca9ec1c40c79b30739c9863d7b4e

[2020-02-19 08:06] #81 closed

[2020-02-19 08:07] thibaudcolas opened #82 "FIx CI (also test against Python 3.8 and Django 3.0) - [merged]"
In GitLab by @bcdickinson on Jan 8, 2020, 14:02

_Merges fix-ci -> master_

[2020-02-19 08:07] thibaudcolas commented on #82
In GitLab by @bcdickinson on Jan 8, 2020, 14:02

merged

[2020-02-19 08:07] thibaudcolas commented on #82
In GitLab by @bcdickinson on Jan 8, 2020, 14:02

mentioned in commit f28f8a21da989be0cb6a20c5b94febfd48fb9c73

[2020-02-19 08:07] #82 closed

[2020-02-19 08:41] #31 closed

[2020-02-19 10:02] #34 closed

[2020-02-19 10:04] #36 closed

[2020-02-19 10:04] #43 closed

[2020-02-19 10:04] #47 closed

[2020-02-19 10:04] #67 closed

[2020-02-19 10:04] #68 closed

[2020-02-19 10:04] #73 closed

[2020-02-19 10:05] #32 closed

[2020-02-19 10:05] #33 closed

[2020-02-19 10:05] #35 closed

[2020-02-19 10:05] #37 closed

[2020-02-19 10:05] #41 closed

[2020-02-19 10:05] #46 closed

[2020-02-19 10:05] #69 closed

[2020-02-19 10:05] #49 closed

[2020-02-19 18:53] thibaudcolas commented on #50
Well – it’s open-source now! I think the above is still very valid, but I think this can all happen with the project already being open, rather than it needing to meet any particular criteria beforehand. If anything I’d be interested to see more people using this, reporting issues, maybe even contributing to the above.

And, yes, the project comes with no guarantee of stability, quality, or fit-fo

[2020-02-19 18:53] #50 closed

[2020-02-24 20:13] thibaudcolas opened #85 "Add note about production usage"
Moved here from the list of todos in the README. I think this could be a simple "do not enable this in production".

[2020-02-24 20:17] thibaudcolas opened #86 "Docs: Describe the approach to the base template which should include CSS and JS"
Extracted from the list of TODO in the docs’ README.

- The base template should be very minimalistic;
- Not only docs: We need to decide which templates should be rendered in base template and which should be rendered on their own. Currently we render only page templates without using base template, but it's hardcoded. We should, probably, make it configurable.

[2020-02-24 20:21] thibaudcolas commented on #10
This seems like a fairly common scenario, that should at least be documented.

[2020-02-24 20:25] thibaudcolas commented on #29
@bcdicksinon based on your comment at https://github.com/torchbox/django-pattern-library/pull/83#issuecomment-588100716 it looks like the #83 which contains the commit that would fix this is relatively far from being merge-able. Do you think this commit could be cherry-picked as a standalone PR? I think it would be nice to fix this issue sooner rather than later.

[2020-02-24 20:32] thibaudcolas commented on #8
This feels like something that should at least documented if indeed an issue.

[2020-02-24 20:35] thibaudcolas commented on #17
This is also something I was keen to explore as part of this quarter’s rock (https://github.com/torchbox/django-pattern-library/projects/2). It’s not high on the priority list but  would be great to have this as an option.

[2020-02-24 20:39] thibaudcolas commented on #18
This feels like it would be a great improvement if doable. Tagging as "design decision needed" so we talk about feasibility.

[2020-02-24 20:43] thibaudcolas commented on #13
@bcdickinson this feels related/similar to the discussion we had about writing stories in Python:

[2020-02-24 20:47] thibaudcolas opened #87 "Add support for pattern variants"
Extracted from #28.

[2020-02-24 20:48] thibaudcolas opened #88 "Back-end code audit"
Extracted from #28.

[2020-02-24 20:50] thibaudcolas opened #89 "Update CHANGELOG and GitHub releases"
Extracted from #28. Follow-up to #50.

[2020-02-24 20:51] thibaudcolas commented on #28
I’ve updated line items to reflect the open-sourcing work from #50, and extracted remaining line items to their own issues to make it easier to review them. Closing.

[2020-02-24 20:51] #28 closed

[2020-02-28 09:29] thibaudcolas opened #91 "Add support for pattern status (In progress, In review, Signed off etc)"
From @nicklee I believe in #11,

[2020-02-28 09:29] thibaudcolas opened #92 "Add ability to view html/css/js for each pattern within the pattern library"
From @nicklee in #11,

[2020-02-28 09:30] thibaudcolas opened #93 "Add view showing which templates/pages a pattern is used on"
From @nicklee in #11,

[2020-02-28 09:31] thibaudcolas opened #94 "Add patterns homepage / dashboard"
From @nicklee in #11,

[2020-02-28 09:34] thibaudcolas opened #95 "Add ability to persist menu state"
From @chris-lawton in #11.

[2020-02-28 09:34] thibaudcolas opened #96 "List patterns in alphabetical order"
From @chris-lawton in #11.

[2020-02-28 09:35] thibaudcolas opened #97 "Hide directory structure for single patterns"
From @chris-lawton in #11,

[2020-02-28 09:35] thibaudcolas opened #98 "Document pattern name overrides"
From @chris-lawton in #11.

[2020-02-28 09:37] thibaudcolas opened #99 "Make pattern library UI WCAG 2.1 AA compliant"
From @nmorduch in #11,

I assume we might as well just have a UI that has no errors to start with.

[2020-02-28 09:39] thibaudcolas commented on #87
Will also add some notes from @nmorduch in #11 about this, which seems related:

## An established setup for situations where our pattern templates don't show everything

- overviews (e.g. here are all the types of buttons)
- mockups (e.g. here is just a plain page with a functional modal, but it's not what you would use to include the modal)
- what something looks like with every permutation of f

[2020-02-28 09:41] thibaudcolas opened #100 "Add view showing multiple screen sizes next to each other at the same time"
From @nmorduch in #11,

- an option to show multiple screen sizes next to each other at the same time

[2020-02-28 09:49] thibaudcolas opened #101 "Add option to customise breakpoints per-project"
From @nmorduch in #11,

- an option to define the breakpoints on a per-project basis (then they would match the names in the scss vairables)

[2020-02-28 09:50] thibaudcolas opened #102 "Add a way to customise the iframe dimensions by manually dragging"
From @nmorduch in #11,

[2020-02-28 09:53] thibaudcolas commented on #11
In an attempt to make the project’s backlog of enhancements easier to keep track of, I have created open issues for anything on this list, and will now close this. I imagine some of these features might make more sense to be built together, but tracking-wise it’s much easier if we can consider them in isolation.

[2020-02-28 09:53] #11 closed

[2020-02-28 11:43] thibaudcolas opened #103 "Storybook prototype of the pattern library"
Tracking issue for conversations relating to [storybook-django](https://github.com/torchbox/storybook-django), a prototype Storybook integration of the pattern library.

- Repository: https://github.com/torchbox/storybook-django
- Live demo: https://storybook-django.herokuapp.com/
- Side-by-side pattern library: https://storybook-django.herokuapp.com/pattern-library/

## Related issues

All of the

[2020-02-28 11:44] thibaudcolas commented on #103
## Storybook prototype review

We’ve reviewed this together with @bcdickinson and @William-Blackie today – here are things to be addressed / to think of further,

- Live reloading has no awareness of template inheritance and inclusion of Django Templates (`extends`, `include`, `include_block`)
- Not much better off than YAML files from the perspective of writing Python/Django-friendly templates (u

[2020-02-28 11:47] thibaudcolas opened #104 "Add support for rendering patterns over an API endpoint"
Needed for #103. The Storybook integration relies on the following API view:

https://github.com/torchbox/storybook-django/blob/8a62a8bc6fabbc25ee1fee66f8ea6a494d7d4ee7/demo/storybook/views.py#L13-L33

[code]

This feels small enough and generic enough that it could be part of the django-pattern-library package directly, so the Storybook integration is only a JS dependency rather than both JS and

[2020-03-11 11:48] thibaudcolas opened #105 "Review alternatives to this project"
## Known issues

Do they make this worthwhile?

- Some of them specific to our implementation / Django
- Some of them general to pattern libraries?
- And to the front-end / back-end workflow

Fundamental constraints:

- Dependencies on database structures
- Dependencies on models’ structures

## Known alternatives

### Twig + Patternlab

What we did before. Means copy-pasting between the two templ

[2020-03-11 11:56] thibaudcolas opened #106 "Investigate creating stories in Python, akin to unit tests (w/ DB awareness & factories)"
Initial investigation by @bcdickinson. Rough idea:

- Declare context in a Python file, as opposed to YAML
- Inspired by Storybook’s use of JS for variants, which is much more flexible than YAML, and Django unit tests being better with factories rather than fixtures.

Much bigger bit of work than other things we’ve considered during this rock – a good outcome for the rock would be to design an int

[2020-03-11 11:57] thibaudcolas opened #107 "Update styling to inherit websites branding / Torchbox branding. @william-Blackie Chris"
First draft: dark theme, Torchbox theme.

[2020-03-11 12:10] thibaudcolas commented on #107
@William-Blackie prototype with Storybook upcoming. We can then assess that to see whether we would want to also do this for vanilla DPL.

[2020-03-11 12:19] thibaudcolas commented on #106
Related, I think: #13.

[2020-06-16 16:25] nimasmi opened #113 "Django form fields not well supported"
If a template contains `{% for field in form %}` or even `{% if form %}`, then it's easy enough to render in django-pattern-library so long as we force the form to be null in the YAML context, and are happy not to have the form.

If the form is rendered explicitly by field names, then it requires a lot more work, and support for this is not documented. I had a quick go, but my template has things

[2020-06-18 09:50] thibaudcolas commented on #103
I’ve experimented with this a bit more since writing the last comment and found something that seems to work quite well – automatically generating stories based on the project’s YAML files.

There is a barebones example of this at https://github.com/torchbox/storybook-django/blob/master/demo/storybook/legacy.stories.js, and here is a more advanced example:

<details>

<summary>View code</summary>

[2020-06-18 10:10] thibaudcolas commented on #103
Here’s a quick GIF demo of this setup:

![storybook-django](https://user-images.githubusercontent.com/877585/85008010-3d2dc380-b154-11ea-97f0-9da8fc5fb920.gif)

[2020-06-30 10:57] bcdickinson opened #114 "Overriding filters not supported"

[2020-06-30 16:30] chris-lawton commented on #103
I've added this to BCUK (although have not made an MR based on this - I can do if that would be useful) and have had a good look around. My findings:

Good 👍
- The components are in alphabetical order! Small i know, but so so useful.
- The hot reload feels a lot quicker compared to django pattern library. Again, not a biggie but it all adds up.
- No page reload when navigating patterns - navigatin

[2020-07-02 09:34] thibaudcolas commented on #103
Thank you @chris-lawton 🤘 I’ve removed links straight to the project’s code from your comment. I don’t think this is particularly problematic but since this is all public I’d rather be extra cautious. Might be worth raising with the sysadmin whether this kind of caution is warranted or not.

For JS – I suspect this is just because JS for each component isn’t loaded in the Storybook version. This i

[2020-07-08 16:14] askcreative opened #116 "error PatternLibraryEmpty"
I can't seem to get this working in a Django app or a Wagtail app. I'm getting...

`Internal Server Error: /pattern-library/
Traceback (most recent call last):
  File "/home/arashi/.cache/pypoetry/virtualenvs/portfolio-Iy91sLkC-py3.8/lib64/python3.8/site-packages/django/core/handlers/exception.py", line 34, in inner
    response = get_response(request)
  File "/home/arashi/.cache/pypoetry/virtuale

[2020-07-29 09:45] #29 closed

[2020-07-29 09:53] bcdickinson commented on #98
This is already possible by specifying a `name: ...` key at the top level of the YAML file for a pattern: https://github.com/torchbox/django-pattern-library/blob/930da7df7b68400720a26bf6c1b429324fb93a61/tests/templates/patterns/molecules/test_molecule/test_molecule.yaml#L1

I'll change this issue to be for adding documentation for that.

[2020-07-29 12:54] bcdickinson opened #118 "Document new SECTIONS settings"
Version 0.2.9 introduced the `PATTERN_LIBRARY['SECTIONS']` setting for specifying the organisation and location of pattern templates. The default settings are backwards compatible, but this needs documenting so users get more value out of it.

EDIT - In fact, the change to the settings here is not backwards compatible, but we released it as a patch version 😬. Given that 0.2.9 is pretty broken anyw

[2020-07-31 15:05] helenb opened #119 "Bug with markup rendering in version 0.2.9"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Upgrading the pattern library from 0.2.8 to 0.2.9 caused markup rendering inside the pattern library to break. Viewing an identical page without the pattern library did not cause any issues.

### Steps to Reproduce

For Ben's benefit, this can be tested on the GOSH repo on Torchbox's gitlab.

1. Set up a local build using the `

[2020-07-31 18:27] zerolab opened #120 "PyPi description has relative URLs"
From [Wagtail Slack](https://wagtailcms.slack.com/archives/C017NMRHFR7/p1596219916433200)

[2020-08-12 11:08] thibaudcolas commented on #106
To consider: YAML extensions (custom entities?)

[2020-08-12 11:08] thibaudcolas commented on #113
Related: #106.

[2020-09-24 09:43] bcdickinson commented on #119
This appears to be related to broken detection of "page" templates that don't need wrapping in the base template: https://github.com/torchbox/django-pattern-library/commit/a8f79ed7c9ac10a5406ac60b47a6d3b574b70a22#diff-8137058159488acb9fbce2f9ec4f9c9bL79

[2020-09-25 11:27] #85 closed

[2020-09-25 11:27] #120 closed

[2020-09-25 11:29] thibaudcolas commented on #89
We have tags on GitHub and notes in the CHANGELOG for the most recent releases, I’m going to consider this is enough for now and close this.

[2020-09-25 11:29] #89 closed

[2020-09-26 11:34] bcdickinson commented on #116
I appreciate this was a while ago, sorry for the slow response. This error means that there are no templates in the locations that that pattern library expects to find them.

Could you tell me:

- Which version you were using?
- The layout of your templates on the filesystem?
- The settings you were using at the time?

[2020-09-26 11:36] bcdickinson commented on #113
Also related: #114

[2020-09-26 11:56] bcdickinson commented on #8
To do this properly, we could take a leaf out of `docker-compose`'s book and steal its `MergeDict` stuff: https://github.com/docker/compose/blob/df05472bcc6f1596e519a1e02f01cebd4e160011/compose/config/config.py#L984

[2020-09-30 10:12] bcdickinson opened #129 "Django 3+ debug error views don't set X-Frame-Options so aren't displayed in the iframe"
### Issue Summary

We set `X-Frame-Options: sameorigin` on `RenderPatternView` responses, but if an exception is raised and `DEBUG = True`, the error page response does not have that header set by default.

### Steps to Reproduce

1. Try to view a pattern that throws an error while rendering (or stick `assert False` in the `RenderPatternView.get()` method)
2. Django debug error page is blocked by

[2020-09-30 14:08] allcaps commented on #129
Yep, this might be it.

[2020-10-13 21:28] mazenshanti commented on #116
Hi @bcdickinson,
I may have the same problem:
PatternLibraryEmpty at /pattern-library/
No templates found matching: '(('atoms', ['patterns/atoms']), ('molecules', ['patterns/molecules']), ('organisms', ['patterns/organisms']), ('templates', ['patterns/templates']), ('pages', ['patterns/pages']))'

requirements.txt:
Django==3.1
django-pattern-library==0.2.9
wagtail==2.10.2

base.py:
[code]

structu

[2020-10-13 21:46] allcaps commented on #116
Your `test` app is not in `INSTALLED_APPS`.

[2020-10-13 22:07] mazenshanti commented on #116
I tried to add another app and it works fine, @allcaps thanks.
* I don't know why the main app "test" not added by default like "home", "search" in wagtail. However thanks a lot.

[2020-10-14 06:09] allcaps commented on #116
Tests directory is project config code and not an 'app'. Equivalent to the output of 'django-admin startproject tests' However, any folder that contains an init can be a Django app. So adding this directory to installed apps let's Django discover the templates.

Project layouts are always a bit opinionated. :)

I'd like to keep templates in apps, instead of one global template folder. @bcdickinson

[2020-10-14 12:03] bcdickinson commented on #116
@allcaps the need to put patterns in a single directory is going to be removed in an upcoming release, this PR sheds a bit more light on it: #124

[2020-10-27 17:58] #119 closed

[2020-10-30 08:26] thibaudcolas commented on #88
I will close this now because I think there have been enough recent contributions for us to be more aware of the implementation.

[2020-10-30 08:26] #88 closed

[2020-10-30 08:37] #86 closed

[2020-10-30 08:37] #98 closed

[2020-10-30 08:37] #105 closed

[2020-10-30 08:37] #118 closed

[2020-10-30 08:39] thibaudcolas commented on #8
Mentioned in the docs as of #131.

[2020-10-30 08:39] thibaudcolas commented on #114
Mentioned in the docs as of #131.

[2020-10-30 08:39] thibaudcolas commented on #113
Mentioned in the docs as of #131.

[2020-10-30 08:40] thibaudcolas commented on #87
Mentioned in the docs as of #131, with workaround.

[2020-10-30 08:40] thibaudcolas commented on #10
Mentioned in the docs as of #131.

[2020-10-30 08:41] thibaudcolas commented on #5
Mentioned in the docs as of #131.

[2020-11-02 22:30] thibaudcolas commented on #17
Now documented at https://torchbox.github.io/django-pattern-library/guides/static-site-export/.

[2020-11-02 22:30] #17 closed

[2020-11-02 22:31] thibaudcolas commented on #18
Now implemented: https://torchbox.github.io/django-pattern-library/reference/api/#render_patterns. This is rather basic but should help already.

[2020-11-02 22:31] #18 closed

[2020-11-02 23:17] thibaudcolas opened #134 "Need information on mocking context processors"
It’s unclear whether mocking context processors is supported, and if so how.

If it’s not supported, we need to document this at the very least.

Detailed feedback from @ababic:

### Which terms did you search for in the docs and issues?

- [x] In the documentation I searched for: context processors
- [x] In the issues / pull requests, I searched for: context processors

[2020-11-03 10:37] thibaudcolas opened #135 "Competing tag/context config for image provides inconsistent result"
### Issue Summary

Initially reported by @tombola, sounds similar to something I’ve seen other reports of but we need a detailed example to reproduce.

### Steps to Reproduce

TBD

[2020-11-03 15:56] ababic commented on #134
Hey @thibaudcolas. This is more a symptom, rather than a problem in itself. The issue is that adding a context processor is sometimes the only option to inject complex objects into the template context. I think there have been some improvements  in this area since I raised this.

[2020-11-04 14:27] thibaudcolas commented on #134
Thank you @ababic, re-reading this I did completely misunderstand this.

[2020-12-11 15:58] thibaudcolas opened #136 "render_patterns should continue execution when a template fails to render"
### Is your proposal related to a problem?

In its current instance, the `render_patterns` command stops execution as soon as a template fails to render.

### Describe the solution you'd like

While this might be suitable as a basic check, it would be better for it to keep processing other patterns, displaying errors along the way, and then returning with an error status code.

At the same time it

[2020-12-11 16:05] thibaudcolas opened #137 "Documentation request: automated accessibility tests in CI"
### Is your proposal related to a problem?

Some of the appeal of maintaining a pattern library is to make it easier to test vast swaths of UI components without having to figure out where they live in a site, and with controlled data mocks (as opposed to user input on a live site).

This is partly mentioned in the [Automated tests](https://torchbox.github.io/django-pattern-library/guides/automate

[2021-01-06 11:13] bcdickinson opened #138 "Add the ability to override tags in extended templates"
### Is your proposal related to a problem?

Currently, if you have two templates like this with an overridden template tag `foo`...

`base.html`:
[code]

`extended.htm`l:
[code]

... it's not possible to control the output of `foo` from `extended.yaml`, only the values set in `base.yaml` will have any effect.

### Describe the solution you'd like

It would be great if the ability to override tags

[2021-01-06 12:18] thibaudcolas opened #139 "Migrate from Travis to GitHub Actions"
With Travis recently restricting their free / open-source usage, we need to eventually jump ship to GitHub Actions (which now has much more traction at Torchbox and beyond, and a much more generous free tier).

For reference, @zerolab already switched wagtailmedia to GitHub Actions. I think the matrix build is relatively similar to that of django-pattern-library: https://github.com/torchbox/wagtai

[2021-03-30 17:15] jenish2014 opened #143 "Cannot get started with django-pattern-library"
I followed the getting started section from the docs but got stuck, it keeps showing me PatternLibraryEmpty error.

my directory structure:

[code]

i've setup the settings file as instructed on getting started page but cannot get it to work. help!

[2021-03-31 06:28] #134 closed

[2021-04-07 09:50] thibaudcolas commented on #143
Hey @jenish2014, could you share more info about your setup? I think we’d need your template and pattern library settings at least.

[2021-04-23 17:12] #143 closed

[2021-05-19 13:45] thibaudcolas commented on #139
This is now done, with #144 needed to re-add the Django `main` tests (those were failing due to changes in Django 4.0).

[2021-05-19 13:45] #139 closed

[2021-05-20 13:31] thibaudcolas commented on #116
I will close this now as I believe our most recent release will likely have helped with this. The pattern library now supports crawling all apps’ templates, and soon will also support `DIRS` templates (#145).

[2021-05-20 13:31] #116 closed

[2021-06-03 13:27] thibaudcolas commented on #5
This looks like a dupe of #138.

[2021-06-03 13:27] #5 closed

[2021-06-03 13:39] thibaudcolas commented on #13
Closing this in favour of #106.

[2021-06-03 13:39] #13 closed

[2021-06-03 22:03] thibaudcolas commented on #19
I don’t think this is as relevant since #141, as we now have 3 different ways to add stub data for a template tag. Closing.

[2021-06-03 22:03] #19 closed

[2021-06-04 07:27] thibaudcolas commented on #106
I’m closing this now as this is basically exactly what @ababic did in #141.

[2021-06-04 07:27] #106 closed

[2021-06-04 07:27] thibaudcolas commented on #10
Fixed in #141 :)

[2021-06-04 07:27] #10 closed

[2021-06-04 07:27] thibaudcolas commented on #113
Fixed in #141 :)

[2021-06-04 07:27] #113 closed

[2021-06-04 07:27] thibaudcolas commented on #135
Fixed in #141 :)

[2021-06-04 07:27] #135 closed

[2021-07-23 13:21] helenb opened #151 "Pattern library does not load CSS or JavaScript in IE11"
### Issue Summary

If you view the pattern library in IE11 (tested with browserstack) it does not load the CSS and JS. The console is reporting a syntax error

### Steps to Reproduce

1. Open a new session of IE11 in Browserstack
2. Visit a pattern library page

![Screenshot 2021-07-23 at 13 35 12](https://user-images.githubusercontent.com/771869/126787737-6696a085-4b82-485c-ac38-deca1695f1bd.png)

[2021-09-03 16:24] simkimsia opened #153 "When I run pytest i get a warning about default_app_config"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

When i run pytest, i get a warning

[code]

### Steps to Reproduce

Install pattern-library.
Run pytest

### Technical details

This is due to django 3.2

also see this PR for allauth that has a similar issue. https://github.com/pennersr/django-allauth/pull/2829

[2021-09-17 17:01] bcdickinson opened #155 "Can't use Python object YAML tags"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Use of `pyyaml`'s `!!python/object` tags to create arbitrary Python objects isn't working. I'm raising this as a bug because it _should_ work, but I'm not sure it's necessarily something we want to support.

### Steps to Reproduce

Add a context item like `!!python/object:django.forms.fields.CharField`, and you get an error lik

[2021-11-03 17:06] zerolab opened #156 "Change `__pattern_library_view` to `is_pattern_library` and make it an official "API""
### Is your proposal related to a problem?

There are cases when it comes handy to check whether a pattern is displayed in the pattern library or is an actual page.

We have `__pattern_library_view` in the context, however you cannot use it like `{% if __pattern_library_view %}` because `TemplateSyntaxError: Variables and attributes may not begin with underscores: '__pattern_library_view'`

### De

[2021-11-08 19:10] tbrlpld opened #157 "`default_app_config` in `__init__.py` deprecated since Django 3.2"
### Is your proposal related to a problem?

Since Django 3.2 it is not necessary anymore to declare a `default_app_config` is only a single app config is present in the `apps.py`.

With that declaration, Django throws deprecation warnings like so:
[code]

### Describe the solution you'd like

Only define `default_app_config` for Django versions before 3.2.

[code]

[2021-11-18 17:17] tbrlpld commented on #157
Noticing this is a duplicate of #153

[2021-12-16 11:20] zerolab commented on #151
I think it is high time we stopped supporting IE11, no?

[2021-12-16 15:25] thibaudcolas commented on #157
Indeed!

[2021-12-21 11:28] nickmoreton opened #159 "'pattern_library' defines default_app_config"
### Is your proposal related to a problem?

When used with Django 3.2, django-pattern-library is throwing deprecation warnings about the use of the defafult_app_config:

[code]

### Describe the solution you'd like

remove: `default_app_config = 'pattern_library.apps.PatternLibraryAppConfig'` when using Django >= 3.2

### Describe alternatives you've considered

I will create a PR for this.

### A

[2021-12-21 12:53] thibaudcolas commented on #159
Hey @nickmoreton, this has already been reported in #153 so I’ll close this issue. PR definitely welcome!

[2021-12-21 12:53] #159 closed

[2021-12-21 15:45] thibaudcolas commented on #153
Fixed in #160.

[2021-12-21 15:45] #153 closed

[2021-12-21 16:28] tbrlpld opened #161 "Allow `.yml` as YAML file extension"
### Issue Summary

When defining template context files (the YAML) files, these are only recognised when they use the full `.yaml` extension.

When using the shorter `.yml` extension the template is not picking up the context file.

This can be very confusing.

### Steps to Reproduce

1. Setup a project with `django-patter-library` enable
2. Create a template `test.html` in one of the directories

[2021-12-21 16:31] thibaudcolas commented on #151
PR to fully remove support: https://github.com/torchbox/django-pattern-library/pull/162

We still have a lot of projects with IE11 support targets, so I think it’s important individual patterns can still be rendered correctly in IE11, but the pattern library UI doesn’t have to support it.

[2021-12-21 20:17] thibaudcolas commented on #161
👍 I like the idea.

It seems this would be pretty simple to do here: https://github.com/torchbox/django-pattern-library/blob/main/pattern_library/utils.py#L148

PR welcome!

[2021-12-21 20:46] thibaudcolas opened #166 "Django 4.0 compatibility issue: Node.render should return a string"
### Issue Summary

cc @nickmoreton who fixed our test data in #165. Our test suite was failing in Django 4.0 because the new version of Django assumes the output of `Node.render` is a string. The error we got in our test suites was from Django’s templates rendering:

[code]

This was a misc. performance improvement – from the [release notes](https://docs.djangoproject.com/en/4.0/releases/4.0/#misc

[2021-12-21 20:56] thibaudcolas commented on #166
@zerolab @bcdickinson when you have a chance I could use your input on this. Would be great for us to agree on a fix before lots of our projects start upgrading to Django 4.0.

[2021-12-22 00:34] zerolab commented on #166
My gut feeling is that we should handle this ourselves since we're kind of acting (in a veeery loose sense of the concept) like a fancy `NodeList` with individual bits patched.

Also, will save updating hundreds of yaml files

[2022-01-06 20:30] #156 closed

[2022-01-24 06:38] thibaudcolas opened #170 "v1.0.0 spring cleaning"
Must Thibaud:

- [x] Add Code of conduct
- [x] Add Security policy
- [x] Add maintainer names either via `pyproject.toml` or [CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) (or both)
- [x] Update maintainers documentation
- [x] Set up Code scanning alerts
- [x] GitHub CodeQL
- [x] Add `-X dev -W err

[2022-01-24 09:44] thibaudcolas opened #171 "Jinja2 support plan?"

[2022-01-24 09:45] thibaudcolas opened #172 "Add type hints for public API"
It’d be nice to do type checking of this project, for our own maintainability needs, and for consumers of this package.

[2022-01-24 09:47] thibaudcolas opened #173 "VSCode Devcontainer configuration"
This would be nice since we use it on quite a lot of projects – should be basic, but worthwhile nonetheless.

[2022-01-24 09:57] thibaudcolas opened #174 "black setup"
black is good

[2022-01-24 09:58] thibaudcolas opened #175 "GitHub CodeQL setup"

[2022-01-24 10:00] thibaudcolas commented on #15
This feels too big to fit under the scope of this library so will close this now. We have some ideas on how to make this work so if there’s ever a need for this that makes sense to tackle within DPL, we can reopen.

[2022-01-24 10:00] #15 closed

[2022-01-24 10:05] thibaudcolas commented on #14
Refinement note: still seems worth pursuing!

[2022-01-24 10:07] thibaudcolas commented on #7
I’ll tackle this by documenting how we do this at Torchbox.

[2022-01-24 10:09] thibaudcolas commented on #8
Notes from today’s refinement session: still seems well worth solving, still seems very hard. Help wanted on this as it’s unclear how we should proceed.

[2022-01-24 10:11] thibaudcolas commented on #114
This feels like we could have just missed it, rather than there being fundamental problems to support this. For @bcdickinson to investigate what it’d take.

[2022-01-24 10:13] thibaudcolas commented on #129
For @bcdickinson to:

- Document in our docs
- Report to Django for consideration (not necessarily a bug but feels like unexpected behavior)

[2022-01-24 10:14] thibaudcolas commented on #138
Dupe (see comments): #8.

[2022-01-24 10:15] thibaudcolas commented on #8
Closed in favour of #138.

[2022-01-24 15:30] thibaudcolas commented on #175
Done directly on main.

[2022-01-24 15:33] thibaudcolas opened #181 "CI builds caching / speed optimisations"

[2022-01-24 15:44] #181 closed

[2022-01-24 15:45] thibaudcolas opened #183 "Upgrade to Webpack 5 & external CSS file"
Currently the project uses Webpack 4. There’s nothing wrong with that, but upgrading to Webpack 5 will be a good occasion to also update all other dependencies.

Additionally, we currently load the project’s styles via the JS bundle. It would be nice to switch to a separate CSS file.

[2022-01-24 15:52] #170 closed

[2022-01-24 17:34] #129 closed

[2022-01-24 18:03] #161 closed

[2022-01-24 21:48] #174 closed

[2022-01-25 13:25] #151 closed

[2022-01-25 16:00] #104 closed

[2022-01-25 21:21] #166 closed

[2022-03-21 16:26] thibaudcolas opened #191 "Add sitemap / list of patterns support"
### Is your proposal related to a problem?

There are two use cases we’ve run across where having a list of all the patterns within a project would be helpful:

- For integration with [Pa11y CI](https://github.com/pa11y/pa11y-ci), to test all of the project’s patterns at once. It expects a sitemap, and has configuration to then ignore some of the entries.
- For API usage with our new API rendering

[2022-04-10 16:43] tbrlpld opened #193 "Pass context to template tag override"
### Is your proposal related to a problem?

When overriding a template tag you have the option to render another template in its place.

Currently, only the existing template context (from the `yaml` file) of that template will be taken into account.
It would be nice to have the option to pass context overrides to the template.

### Describe the solution you'd like

E.g. in a template override lik

[2022-04-12 12:45] thibaudcolas commented on #103
Here is a short update on this prototype.

## TL;DR;

It seems to be working very well. I personally feel more productive with it than with DPL’s YAML files.

## Highlights

- I’ve recently released a new version of [storybook-django](https://github.com/torchbox/storybook-django) with much better APIs, and documentation.
- In particular this comes with much better step-by-step "getting started" in

[2022-04-25 22:26] juliat opened #195 "Included sub-pattern HTML nesting"
### Discussed in https://github.com/torchbox/django-pattern-library/discussions/194

<div type='discussions-op-text'>

<sup>Originally posted by **juliat** April 25, 2022</sup>
Hi there,

I'm using django-pattern library for the first time. I created a couple of smaller components: `hero`, and `latest_updates`, and tried to compose them into a larger `homepage` component. However, when I compile t

[2022-04-26 08:27] thibaudcolas commented on #195
Hi @juliat, we use GitHub Discussions for support so I’m going to close this now.

[2022-04-26 08:27] #195 closed

[2022-05-30 16:04] #172 closed

[2022-06-01 14:30] #183 closed

[2022-07-18 18:57] TonisPiip opened #198 "Tree menu is completley closed if you have more than 2 levels of nesting"
1. have lot of sub-folders of patterns
2. open a template

the state of the side menu is reset to all closed.
Too many clicks to navigate around

[2022-07-19 09:03] #198 closed

[2022-07-21 09:09] thibaudcolas commented on #137
This has been implemented: https://torchbox.github.io/django-pattern-library/guides/automated-tests/#accessibility-testing

[2022-07-21 09:09] #137 closed

[2022-07-23 07:24] simkimsia commented on #87
@thibaudcolas wrote

Sorry, but what workaround is this? I went to #131 but I am none the wiser.

[2022-07-23 12:59] simkimsia opened #200 "can you add documentation on how to run webpack to generate the bundle.js for those who fork this library?"
For those who want to fork this library and play with, can you include documentation on how to use webpack to generate the bundle.js?

[2022-08-03 16:11] thibaudcolas commented on #87
@simkimsia here are the docs that cover this: https://torchbox.github.io/django-pattern-library/guides/multiple-variants/

[2022-08-23 08:38] chris-lawton opened #202 "Clicking the menu chevron should expand/collapse the menu"
### Issue Summary

Currently each list of patterns in the left hand menu can be expanded and collapsed via clicking the title e.g. 'Components'.

Next to the title is a chevron icon that when clicked should also expand and collapse the menu.

If this was not the intention then `cursor: pointer` should be removed when hovering the icon.

### Steps to Reproduce

1. Go to a pattern library
2. Click t

[2022-09-19 09:26] vorlif opened #203 "Template tags can't be overwritten under Django v4.1"
Found a bug? Please fill out the sections below. 👍

### Issue Summary

Template tags cannot be overwritten under Django v4.1 because a [check has been introduced](https://github.com/django/django/pull/15005) to prevent this.

[code]

### Workaround:

Disable the check in the settings:

[code]

### Steps to Reproduce

1. Follow the documentation to overwrite a tag
2. Start the server `python manage

[2022-11-08 15:11] dgabrahams opened #208 "CSP issues"
Whilst in the process of adding a Content Security Policy to a Wagtail site I found that the Pattern Library is not compliant. I raised this issue to request that the Pattern Library be made CSP compliant.

Working on the philosophy that a weak CSP is better than no CSP I have added some custom middleware to get around the issue, please see an example below:
[code]

Still in the process of testing

[2022-11-18 22:58] thibaudcolas commented on #208
Thanks for the report @dgabrahams! I think we’d love to make this conform to a strict CSP (`default-src 'self'` ?) for people who need this.

Do you have further insights on which parts of the project weren’t working? Quickly looking at our [online demo](https://torchbox.github.io/django-pattern-library/demo/), the only two issues I see is usage of a `<style>` tag to load our stylesheets, and one

[2022-11-21 13:50] dgabrahams commented on #208
Hi @thibaudcolas - nothing specific at this point I have to admit my efforts are currently focused on other issues regarding my current project. Doing a quick search of the codebase revealed two inline styles (one set by JS and the other as part of a sprite):
[code]
The way I am currently tackling CSP is to refactor inline styles to a stylesheet and using JS to add/remove classes. CSS and JS files